[2018-07-07 11:59] YaroslavLyzlov opened #1 "Not transition on change language"
url: /ru/home -> tranisiton to pl -> pl/home/home

core.js:1624 ERROR Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'pl/home/home'

var /** @type {?} */ url = _this.traverseRouteSnapshot(rootSnapshot_1); returned pl/home/home :(

Help, please 💃

[2018-07-09 19:52] gilsdav commented on #1
Hello @YaroslavLyzlov Can you share your router and your translation files to make it reproductible on the demo ?

[2018-10-08 21:00] gilsdav commented on #1
https://github.com/gilsdav/ngx-translate-router/tree/bugfix/wrong-url-on-switchlang-%231

[2018-10-11 08:57] gilsdav commented on #1
fixed on version 1.0.2

[2018-10-11 08:57] #1 closed

[2018-10-20 17:47] gilsdav opened #3 "compatible localize-router-http-loader"
Fork https://github.com/Greentube/localize-router-http-loader by adding it as project on ngx-translate-router.

[2018-10-20 19:32] gilsdav commented on #1
@andresceron
As I can see, I have big problems like yours if I use your import order.
Can you try by import RouterModule before LocalizeRouterModule ?

[code]

[code]

But if it fix your problem, it means that I have to redo tests for Angular Universal.

[2018-10-20 19:39] andresceron commented on #1
@gilsdav MY MAN!!
That fixed the issue! I am crying of happiness :)
Thanks for all! If you need anything more of me for testing, feel free to ask

[2018-10-20 19:47] gilsdav commented on #1
@andresceron Good news 👍
Thank's for your collaboration.

For information, I will update my Universal Repo https://github.com/gilsdav/universal-localize-module-loader to make it work with Angular 7 ASAP.

So if you plan to use Universal, I can not assure you that it is working right now. Because I have in mind that import order causes issues on Universal too.

[2018-10-20 20:50] gilsdav commented on #3
Now available on with at:
`npm install --save @gilsdav/ngx-translate-router-http-loader`

[2018-10-20 20:51] gilsdav commented on #3
Hello @andresceron, Can you test before I close this issue ?
Thank's in advance.

[2018-11-26 15:17] SrgSteak opened #5 "pre and post language change events"
Hello Gilsdav,

We currently face the problem where we need to change url params depending on the selected language. It seems that the router service "changeLanguage" function overwrites our changes because it always triggers last. Is there a way to know when the router navigate from the service is done? Something like a PostLanguageChange Event?

Best regards,
Robin

[2018-11-29 23:29] #3 closed

[2018-11-30 09:08] SrgSteak commented on #5
Not yet but I’ll give it a try!

[2018-11-30 10:56] SrgSteak commented on #5
Hi Gilsdav,

the router events subscription works great!
Thank you for your help and have a nice weekend

Robin

[2018-11-30 10:56] #5 closed

[2019-03-21 10:37] Roelensdam opened #6 "Error while translating on the home page (path empty)"
Hi Gilsdav,

I'm getting an error "Error: Cannot match any routes. URL Segment" when I try to translate the main route in my app.

Route config :

[code]

When I'm on the route "product-evaluation," I have no problem to translate and navigating to the translated URL with the function "changeLanguage()".

Angular version :
[code]

It seems that the route does'nt know the new config with the selecte

[2019-05-29 01:59] HMubaireek opened #7 "Angular 8 Support"
The library needs to be updated to support Angular 8.

[2019-06-01 07:26] HMubaireek commented on #7
I have created a fork with Angular 8 Support:
https://github.com/HMubaireek/ngx-translate-router

[2019-06-05 17:53] gilsdav commented on #7
Hello @HMubaireek
Thank's to inform me that it's not compatible with Angular 8.
I will check this.
PS: Don't you break url translation mechanism ? I mean:
* fr: /fr/**accueil**
* en: /en/**home**

I think it will not work if you choose to remove `traverseRouteSnapshot`.
And this is why you needed to add  `removeOldLangFromRoute`, but my case is probably not usable.

What was your main problem ? Wh

[2019-06-05 18:39] gilsdav commented on #7
@HMubaireek
I can see that there is an URL problem when I click on back browser after update.
Is it the issue ?

[2019-06-05 21:55] gilsdav commented on #7
Here is my syntax proposal :
`{ path: 'test', component: HomeComponent, loadChildren: () => import('./test/test.module').then(mod => translateModule(mod.TestModule)) }`

With this new `translateModule` function, it works like with deprecated syntax.

I have to check the issue with back browser.

[2019-06-06 23:12] gilsdav commented on #7
Back browser fixed in update-angular-8 branch

[2019-06-10 11:30] acopapic commented on #7
Finally it works on my machine. Great work!!!
When do you plan to deploy it on npm? I can see only 1.0.2 version.

[2019-06-10 13:51] gilsdav commented on #7
@acopapic Thanks for your test of "update-angular-8" branch and your feedback. I will deploy the verison `2.0.0` today

[2019-06-10 19:12] gilsdav commented on #7
Version `2.0.0` is published.
Use `npm i @gilsdav/ngx-translate-router@2.0.0 --save` to update

[2019-06-11 12:50] maxgranier commented on #6
Hi,

Same problem encountered here, with this router config similar to @Roelensdam  :

[code]

It works if i switch from 'en' to 'fr' manually via the address bar (eg. http://localhost:4200/en or http://localhost:4200/fr), but it seems to be broken if i try to change the lang via the changeLanguage method (page content is empty).

Thanks for your help.

[2019-06-12 16:05] gilsdav commented on #6
Hello @maxgranier ,
Thank's for your comment.
Here is a workaround :

[code]

I will work on this issue soon.

[2019-06-12 20:25] gilsdav commented on #7
Do not accept AOT build

[2019-07-09 13:23] Samuel4321 opened #9 "Angular 8 Universal support"
The library is not compatible with Angular Universal.
Do you know how i could quickfix this problem ?

[2019-07-09 14:13] maxgranier commented on #6
Hi @gilsdav,

Have you any news about the issue ? I'm afraid that even if your suggestion seems to work, it can influence negatively the website's SEO.

Thanks

[2019-07-09 19:02] gilsdav commented on #7
News: I'm locally able to work with AOT build.
I will provide a new version soon.

[2019-07-09 19:31] gilsdav commented on #7
Deployed on version 2.0.1

[2019-07-09 19:36] gilsdav commented on #9
Hello, new version "2.0.1" is now compatible AOT and Universal.
No need `LazyUniversalModuleLoaderProvider` anymore.
Need new lazyload syntax: `loadChildren: () => import('./heroes/heroes.module').then(mod => mod.HeroesModule)`

[2019-07-09 19:48] #7 closed

[2019-07-09 19:51] gilsdav commented on #9
Example: https://github.com/gilsdav/angular-universal-localize-router

[2019-07-09 19:51] #9 closed

[2019-07-09 19:59] gilsdav commented on #6
Hello @maxgranier ,
Universal will answer to path "/" (no http redirection). So the redirection is only when Javascript is fully loaded in browser. Are you sure there is SEO impact ?

[2019-07-10 10:45] Samuel4321 commented on #9
Thanks a lot man !! :-)

[2019-07-10 11:12] giacomo commented on #7
@gilsdav Thank you! Good and Great Work!

[2019-07-10 14:16] maxgranier commented on #6
Oh i didn't know that, but if you're also sure about it, i can eventually use this as temporary config.
But i'm pretty sure that someone in the SEO dept will end up complaining about the path name... ^^

[2019-07-25 07:23] giacomo commented on #6
@gilsdav successful upgraded to your package, but now i'm facing the same error.

[code]

I couldn't use your workaround. Any news on this - should be great!
Thanks

[2019-07-25 09:40] giacomo commented on #6
**localize-router.service.ts**
[code]

@gilsdav after this change it seems to work as expected.

[2019-07-25 11:29] gilsdav commented on #6
@giacomo Thank you for your investment. I will check this asap.
Can you tell me your Angular version ? To know the major version to update.

[2019-07-25 11:46] giacomo commented on #6
@gilsdav here
[code]

[2019-07-25 14:54] gilsdav commented on #6
@giacomo Your problem is not exactly the same as this one.
Your fix is for usage of `alwaysSetPrefix: false`. Is that correct ?

[2019-07-25 15:00] giacomo commented on #6
@gilsdav

to your code i added the following snippet to test ist to the app-routeing.module.ts
[code]

when you insert this and then try to switch language it should not work.

But if i implement the line `url = url.replace('//', '/');` it works.
I dont use **alwaysSetPrefix**

[2019-07-25 15:13] giacomo commented on #6
![translated_routing](https://user-images.githubusercontent.com/365681/61886207-915a0480-aeff-11e9-8eda-ea69e3b2fb26.gif)

[2019-07-25 15:14] gilsdav commented on #6
@giacomo Got it, thank you. Did you try in universal ?

[2019-07-25 15:15] giacomo commented on #6
@gilsdav universal seems to work also ;)

[2019-07-25 15:16] gilsdav commented on #6
Perfect, I will deploy a new version and test it in my full project.

[2019-07-25 15:17] giacomo commented on #6
@gilsdav thank you!

[2019-07-25 15:35] gilsdav commented on #6
@giacomo deployed as version `2.0.2`.
Thanks for your help :)

[2019-07-25 15:36] maxgranier commented on #6
Thanks @giacomo and @gilsdav for your efforts, i'll give a try tomorrow and will give you my feedback.

[2019-07-26 13:26] maxgranier commented on #6
I can confirm that 2.0.2 fixed my issue !

Thanks again

[2019-07-26 19:11] #6 closed

[2019-08-02 07:47] giacomo opened #12 "RoutesEvents should be triggered"
Using Angular 8, subscribing to routerEvents doesn't work as expected.
[code]

caused by:
[code]

the condition on every call **currentLang !== previousLang** is **false**

I'm working on a solution, but it requires some more tests.

[2019-08-02 08:27] giacomo commented on #12
see https://github.com/gilsdav/ngx-translate-router/pull/13

[2019-08-05 18:07] coderbase-it commented on #12
Same issue this.localizeService.routerEvents is never trigger .

[2019-08-06 11:39] gilsdav commented on #12
@giacomo
Thanks, I will check this today.

[2019-08-06 15:57] gilsdav commented on #12
Fixed in version `2.0.3`.

[2019-08-06 15:57] #12 closed

[2019-08-07 08:37] coderbase-it opened #15 "Update peer dependecy"
Trying to ng update @gilsdav/ngx-translate-router from 2.0.2 to 2.0.3

Package "@gilsdav/ngx-translate-router-http-loader" has an incompatible peer dependency to "@gilsdav/ngx-translate-router" (requires "^1.0.2", would install "2.0.3").

[2019-08-09 09:27] Nekronik opened #16 "Open discussion about new use cases"
### Summary
- [x] Go back to previous language after switching language
- [x] Allow localize redirect of a localize-skipped route
- [x] Skip the localization of a segment of the route
- [x] Matchers need to be localized when switching language
- [x] Skip translation but add language on routes

### Intro

This is a quite special issue as it aims to open a discussion based on our use cases and our e

[2019-08-09 20:25] gilsdav commented on #16
Hello @Nekronik
Thank's for your support ! And to have opened this discussion.
All your points are very interesting and accurate.

I will inform you when I work on one of the points (do not hesitate to make a pull request if you have an example of implementation).

However the first point I will take is "Go back to previous language after switching language" because it seems to be regression of th

[2019-08-09 23:32] gilsdav commented on #15
https://github.com/gilsdav/ngx-translate-router/pull/17

[2019-08-12 15:44] rafa-as commented on #16
First, @gilsdav thanks for this fork, awesome!

Maybe another use case could be add a property inside skipRouteLocalization to allow to add only the language segment but not translate the rest of the url.

[2019-08-12 15:45] rafa-as commented on #15
@gilsdav when you release the new version with all peerDependencies upgraded?

[2019-08-12 15:47] gilsdav commented on #15
Hello @rafa-as is it critical or can it wait next release that will contains an other bugfix ?
Is it not only some warnings ?

[2019-08-12 16:05] Nekronik commented on #16
You would be able to acomplish it with the `escapePrefix` feature we just have pull requested #18:
[code]

[code]

[2019-08-12 16:21] rafa-as commented on #15
@gilsdav It's just warnings, I think that can wait

warning @gilsdav/ngx-translate-router-http-loader@1.0.0" has incorrect peer dependency "@gilsdav/ngx-translate-router@^1.0.2".
warning @gilsdav/ngx-translate-router-http-loader@1.0.0" has incorrect peer dependency "@angular/common@^6.0.0-rc.0 || ^6.0.0".
warning @gilsdav/ngx-translate-router-http-loader@1.0.0" has incorrect peer dependency "@angu

[2019-08-12 16:35] rafa-as opened #19 "Compilation warning: require function is used in a way in which dependencies cannot be statically extracted"
Hi there,

Since we migrate from localize-router to your (best) library we start to get this warning:

[code]

We checked and the error is on the line `projects/ngx-translate-router/src/lib/localized-router.ts:8`. The import of isPromise is wrong.

Should be replace for an alternative.

**More info:**
https://stackoverflow.com/questions/51319209/critical-dependency-require-function-is-used-in-a-wa

[2019-08-12 17:02] gilsdav commented on #16
@Nekronik What do you think about `!` as default escapePrefix ?
[code]

[2019-08-12 17:23] ruizmarc commented on #16
@gilsdav The prefix may be anything you want. We didn't set a default value, so it doesn't introduce breaking changes or unexpected behaviours to people currently using the library. To be honest, we don't really care about which default value you want to use :)

Regarding your question, yes, it works per segment basis, so every URL segment can be setted as escaped or not, so you can mix, translate

[2019-08-12 18:57] gilsdav commented on #15
Fixed in @gilsdav/ngx-translate-router-http-loader@1.0.2

[2019-08-12 18:57] #15 closed

[2019-08-12 18:59] gilsdav commented on #16
back browser fixed in version `2.0.4`

[2019-08-12 19:54] giacomo opened #22 "[REQUEST]: Extend LocalizeRouterConfig properties to save Cookie only with global Path"
Feature-Request:
@gilsdav As you already know I'm working on a page that uses your package to be able to translate routes.

Since we have recurring users we save the selected language through the cookie.
Using this package i see a strange behaivour. The Cookie is set to each single route.

Why not using LocalStorage?

As shown in this image the multiple cookies:
![grafik](https://user-images.githu

[2019-08-12 20:35] gilsdav commented on #22
What do you think about doing something more configurable by giving a cookie format like:
`"{{value}};{{expires}};path=/"`

`"{{value}};{{expires}}"` will be the default

`{{value}}` will be automatically replaced by the result of `${name}=${encodeURIComponent(value)}`
`{{expires}}` will be automatically replaced by the result of `expires=${d.toUTCString()}`

[2019-08-12 21:00] giacomo commented on #22
great idea I will work on it!

[2019-08-12 21:28] giacomo commented on #22
@gilsdav changes made 😃

[2019-08-12 22:02] gilsdav commented on #22
Awesome ! I'll check that tomorrow :)

[2019-08-13 18:30] gilsdav commented on #22
Published as `@gilsdav/ngx-translate-router@2.1.0` and `@gilsdav/ngx-translate-router-http-loader@1.1.0`

[2019-08-13 18:30] #22 closed

[2019-08-13 18:30] gilsdav commented on #19
Fixed in version `2.1.0`

[2019-08-13 18:30] #19 closed

[2019-08-13 18:32] gilsdav commented on #16
- Allow localize redirect of a localize-skipped route
- Skip the localization of a segment of the route

Now available in version `2.1.0`

[2019-08-13 18:48] giacomo commented on #22
@gilsdav 👍 thanks ;)

[2019-08-13 18:52] ruizmarc commented on #16
That's great! Thanks for accepting our pull request and contributing to it! 💃

We have been discussing with @Nekronik about the best approach to solve matchers translation, and we came up with an idea we want to share with you.

We need to list all matcher params as we need to know the params in its order (which is important). Matcher params should not be translated by default as its most common u

[2019-08-13 18:53] gilsdav commented on #16
@rafa-as
There are some ways to reach your goal:

- Do not put translations for these segments on your translation files
- Using new `escapePrefix` mechanism

Do you think you need an other feature to achieve it ?

[2019-08-13 19:03] Jonnyprof opened #26 "GilsdavReuseStrategy resolves wrong routes"
We have quite big application with some lazy routing like:

[code]

And in the lazy modules we have a different layout/component, such as:
[code]

The problem is that when we navigate from an empty path to another empty path takes the wrong route (and component). For example, takes InformationComponent with section1Component from home, and the layout is broken.

I've found that if change `GilsdavR

[2019-08-13 19:28] gilsdav commented on #26
Hello @Jonnyprof
Thank's for your support.

`GilsdavReuseStrategy` was created to avoid lifecycle calls (like "OnInit") each time we change the lang.

I understand the problem and I think we will need something like a `"discriminantPathKey"` :
[code]
What to you think about ?

[2019-08-13 19:36] Jonnyprof commented on #26
Hi @gilsdav,
It sounds good to me. I'll try to do a PR tomorrow.

Thanks again!

[2019-08-13 19:56] gilsdav commented on #16
https://github.com/angular/angular/issues/17145

[2019-08-13 20:12] ruizmarc commented on #16
@gilsdav at this moment matchers are the only stopper for us to adopt your library instead of using our own fork from Greentube/localize-router. Maybe matchers are a quite complex topic to discuss... and there is a lot of different topics in this issue/conversation, would you prefer to open a dedicated issue so we can discuss about the different approaches and needs talking just about matchers?

M

[2019-08-13 20:40] gilsdav commented on #16
@ruizmarc Because the matcher is one of the (or the last) topic, I think we can stay in this issue.
Has you can see in my previous post, I think the best solution is the proposal one but it will not be implemented tomorrow.

I have a question about your last proposal:
Will the key return by the function be concatenated with the prefix like all other routes ?

[2019-08-13 20:45] ruizmarc commented on #16
Yes, I agree with you, that proposal would probably be the best solution but it has been like 2 years since that proposal... so I'm not very confident about getting it done any time soon. I would really bet on preparing a solution for this library.

Regarding our proposal, the answer is yes, we can concatenate the prefix to the output of the function if it is not null, so it behaves the same as th

[2019-08-13 21:13] gilsdav commented on #16
You are right.

Can you explain one more thing ?
How will you achieve optional params with this configuration ?

[code]

[2019-08-13 21:50] ruizmarc commented on #16
When you access `ActivatedRouteSnapshot`, you can find `params` property which contains the params that the matcher has found and that has been stored in `posParams` of `UrlMatchResult` during matching process.

`posParams` are named params, so your matcher creates a key/value with all matching params that later will be available in `ActivatedRouteSnapshot`. If any of the optionals are not present

[2019-08-13 23:01] rafa-as commented on #16
Sounds perfect! We test it soon and will give feedback.

Thanks another time @gilsdav

[2019-08-13 23:45] rafa-as opened #27 "Add package manager lock file"
Must be added the yarn.lock or package-lock.json file to prevent errors developing.

What package manager you use?

We use yarn and for us is faster than npm.

[2019-08-14 01:19] rafa-as opened #28 "Fix SSR flickering"
The AppInitializer should be adapted to make work properly with Angular Universal + Lazy loaded modules.

I've tested a lot and this https://medium.com/@fessbespalov/enabling-initialnavigation-with-localizerouter-and-angular-universal-8d514f1faad9 solution works like a charm.

When this issue https://github.com/gilsdav/ngx-translate-router/issues/26 is done we can start to make ngx-translate-route

[2019-08-14 03:21] OsamaFelFel opened #29 "ERROR TypeError: Cannot read property 'indexOf' of undefined"
I'm trying to use this package with Angular 7 project. Everything is working fine when running on browser mode (none SSR). When trying to run it with SSR, I face the below error

at TranslateService.getBrowserLang (/Users/osamafelfel/work/idea_projects/letsfund-management-localize/dist/server.js:219761:25)
at LocalizeUniversalLoader.LocalizeParser._getBrowserLang (/Users/osamafelfel/work/idea_proj

[2019-08-14 08:25] Jonnyprof commented on #29
Hi @OsamaFelFel
I think it happened me once when I used domino package to create the window object.
When you create the window object TranslateService.getBrowserLang fails because it pass the first if and no has navigator languages.
[code]

I hope it helps

[2019-08-14 09:48] Nekronik commented on #16
@gilsdav
As @ruizmarc  said, it is only necessary to provide the transformation function in router data as the parameter keys can be obtained from the snapshot.

If we do not have or find other use cases for the matcher that require additional configuration, we can simplify the config structure in data to minimize the safety checks required in code by removing a level.
[code]
But that might introd

[2019-08-14 09:56] OsamaFelFel commented on #29
@Jonnyprof Indeed this is really helpful, now I understand why it's happening.

I need domino for other purposes. now I need to bypass browserLang, I'm tried setting
settings.defaultLangFunction as following:

`  settings.defaultLangFunction = (languages, cachedLang, browserLang) => {
    return languages[0] || cachedLang;
  };
`
but It didn't help as the call to _getBrowserLang() happens before c

[2019-08-14 12:02] giacomo opened #30 "[REQUEST] make COOKIE_EXPIRY configurable / customizable"
Some pages require a longer living cookie expiry time.

Since we made the cookie customizable we can also add a possibility to change the expiry time.

At the moment.
[code]

@gilsdav What do you think about? Could i start to work on it?

[2019-08-14 12:27] Jonnyprof commented on #29
I think this is intentional to determine the default lang. I'm afraid that if you create a window, you must have a navigator and a language.

[2019-08-14 19:52] gilsdav commented on #30
@giacomo
You can already do it using the cookie format. Replace `{{expires}}` by needed value.

[2019-08-14 20:04] gilsdav commented on #29
@OsamaFelFel
Unfortunately `_getBrowserLang` is a private method.

But can you try a little hack like this into your parser constructor ?
[code]

This is not really elegant but it's currently for a test.

[2019-08-14 20:54] gilsdav commented on #27
Why and where do you need it ?

For contributors ?

By following some Angular libs I seen multiple switch back from yarn to npm since version 5.
I don't have opinion about the reason but it's rather by habit of the npm ecosystem usage like "nvm".

[2019-08-14 21:16] gilsdav commented on #16
@Nekronik @ruizmarc
If I understand, you only need to translate "MAP" in this case.
It's not possible to use TranslateService in it so you built this configuration.

If it's correct, is it not more flexible to have something like this ?

[code]

and will result to something like that:

[code]

[2019-08-14 21:30] gilsdav commented on #30
If it's not good for you because of this fixed value, it will probably say that your format management is not optimal.

We can accept both `string` and `() => string` as format. It will allow us to get updated data.

[code]

[2019-08-14 21:37] ruizmarc commented on #16
I’m not sure I’m understanding your point. Map was only an example, there are much more complicated cases. You may need to translate anything from the matcher and its content may take any value. In fact you may know all possible values for a segment or you may not because the value is generated from different inputs. The thing is, as the values of the params may take any value, we need something f

[2019-08-14 21:48] gilsdav commented on #28
I don't understand how it can help for the "flickering".
And we already have the appInitializer:

[code]

Do you think we have a problem because we return `res` and not `res.then(...` ?

[2019-08-15 00:36] OsamaFelFel commented on #29
@gilsdav
I tried that solution and it didn't work, It produce the following error

I ended up with the this solution,

- I added the following snippet to my node server after initializing domino
[code]

- I used your LocalizeRouterHttpLoader as below (Cookie to ensure the server has access to it while rendering)
[code]

- I created an interceptor to be used with the SSR to replace the relative pat

[2019-08-15 08:18] Nekronik commented on #16
@gilsdav
A matcher is only fed with a url (that may contain multiple segments) and its job is to decide whether or not this url should land on that route.
For a matcher to accept a url it needs to return a valid `UrlMatchResult` which registers a name for each segment.

I understand what you meant, but this config would not indicate what parameter of the matcher nor in what situation it needs to b

[2019-08-15 11:07] rafa-as commented on #27
Hi @gilsdav,

Yes, to prevent the errors when the people get the code and install the dependencies. I've seen other libraries without the lock file commited and multiple errors has been caused because some developers have several differences about the installed dependencies.

Just requires the commit with the lock file.

This is the eternal discussion. We use nvm to manage the node and yarn as pac

[2019-08-15 11:26] rafa-as commented on #28
To avoid the flickering using Angular Universal we should add the router param **InitialNavigation: 'enabled'**. When you add this flag using this library or localize-router, you get the routing broken.

You can see why this happens in the medium post

https://medium.com/@fessbespalov/enabling-initialnavigation-with-localizerouter-and-angular-universal-8d514f1faad9

Also you can get more info in t

[2019-08-16 07:32] giacomo commented on #30
@gilsdav the idea to add a `CookieFormatFunction` is good.
But i also think that we should not mix two returntypes.

I think somenthing like you can use `{{expires}}` and if you want more or less days you could add `{{expires:365}}`.

[2019-08-16 13:27] OsamaFelFel opened #31 "[Questions] Angular 7 & SSR"
@gilsdav I have several questions regarding the package and it would be great if you have sometime to answer them.

1. As per the README, we should use v1.0.2 with Angular 6 & 7. It seems that version 1 is failing behind in terms of features/fixes. For example, fix for issue #22 has been applied for v2 only. Another example would be `cookieFormat` which is only available for v2.
    - Are you plan

[2019-08-17 08:29] giacomo commented on #31
@OsamaFelFel
3:
Both packages provide the same functionalities, but localize-router seems not maintained anymore.

This package is maintained and more functionalities are in the pipeline.

2:
This package works with SSR. If you want to use cookies during SSR you must implement it by your own.

[2019-08-17 10:47] gilsdav commented on #31
Thank's @giacomo for the answer.

@OsamaFelFel I will not add features on V1 but I can fix some bug fixes done on v2 if you need it on v1.
What's the exception you get in Angular 7 ?
I didn't put the compatibility with angular 7 because there were a lot of changes and I didn't try on Angular 7

[2019-08-17 10:49] gilsdav commented on #30
@giacomo I think `{{expires:365}}` is a good and common way to make it configurable.

[2019-08-17 11:00] gilsdav commented on #29
@OsamaFelFel You are right, a part about SSR is missing in the README. Especially about the LocalizeRouterHttpLoader.

It would be nice if you could add an "SSR" sub section into "Usage".

[2019-08-17 11:03] gilsdav commented on #28
@rafa-as
My idea is that if we return `res` and not `res.then(...)`,  the second "subscriber" probably doesn't way the end of the first "subscription". Because it's not chained.

[2019-08-17 11:54] gilsdav commented on #26
Can you check this PR https://github.com/gilsdav/ngx-translate-router/pull/32 ?

[2019-08-17 12:18] rafa-as commented on #28
I think that the point is mark as resolved the promise when the routes has been initialized calling the init method.

[code]

[2019-08-17 12:22] gilsdav commented on #16
@Nekronik
Ok I thinked that you need a translation into your matcher to know if url match or not.
But by reading the first post I understant you problem is only when you switch the language.

According to you I think is better to use something like this:
[code]

But I think it's better to keep `localizeRouter` internal (like for `skipRouteLocalization` `discriminantPathKey`).

[code]

What's your

[2019-08-17 12:28] ruizmarc commented on #16
@gilsdav I would go for `localizeMatcher`, it makes more sense taking into account the rest of params :)

I will probably prepare a pull request while you are away, so when you come back, we can review it and eventually merge it ☺️

[2019-08-17 12:56] gilsdav commented on #28
Is it possible for you to try to replace `appInitializer` to
[code]
into `localize-router.module.ts`
?

[2019-08-17 13:25] rafa-as commented on #28
@gilsdav I just tried it but doesn't works. The routes tree is not generated with the language prefix and the translations. The routes are accessible without /{lang} and with the translation key not the value.

[2019-08-17 13:49] OsamaFelFel commented on #31
@gilsdav I'm using v2 with Angular 7 basically because I need
- Cookies and cookieFormat
- Fix  #22

Currently the exception I'm facing is

[code]

which happen when switching the language. This prevent the cookie from being created thus user will always see the default language.

[2019-08-17 15:03] gilsdav commented on #31
@OsamaFelFel After some test, I got the same exception (corrected). But it doesn't affect the cookie at all.
By the way, to make it works with Angular 7 I have to enable some functionalities that are not needed on Angular 8. So I don't want to do that on Angular 8 package.

Don't you have opportunity to update to Angular 8 ?
If not I may make an intermediary version.

[2019-08-17 16:06] gilsdav commented on #28
@rafa-as I've just tested the post and it doesn't work properly.

For exemple this configuration will give an exception:
`{ path: '', redirectTo: '/dashboard', pathMatch: 'full' }`

If I understand, Angular use `APP_INITIALIZER` to load routes and router `APP_INITIALIZER` is executed before ngx-translate-router.

If we put one directly on `app.module` it will be called first and mutation will do t

[2019-08-17 16:25] OsamaFelFel commented on #31
@gilsdav I will do some more investigation on my side to know why the cookie is not added.

Unfortunately, upgrading to 8 is not an option right now for me. The application is a bit huge and this won't be a quick win.

An intermediary version would be perfect but I have a question, can't you make the plugin work with both angular 7 & 8 with the same code base? If you manged to fix that expectation

[2019-08-17 16:43] gilsdav commented on #31
@OsamaFelFel I will create a new branch for version 1.7.x (7 for angular 7) from master and I will update change things to make it work's.
I will merge master to this branche when new interesting functionalities will be needed in 1.7.x.

[2019-08-17 16:45] OsamaFelFel commented on #31
@gilsdav That sound perfect. Thanks a lot 😄

[2019-08-17 17:19] gilsdav commented on #31
I did some tests and this branche seems to work: https://github.com/gilsdav/ngx-translate-router/tree/1.7.x

Every configuration need to be like this project : https://github.com/gilsdav/angular-universal-localize-router/tree/angular-7

You only need to update package version to 1.7.0 when it will be published.

[2019-08-17 17:23] OsamaFelFel commented on #31
Thanks a lot, I will try it once published and feedback. When are you going to publish it?

[2019-08-17 18:29] gilsdav commented on #31
@OsamaFelFel
I published version `1.7.1` and created a tag `ng7`.

[2019-08-18 01:51] OsamaFelFel commented on #31
@gilsdav Thanks a lot, I tested it and everything is working good.

I'm closing the issue as all my questions have been addressed.

[2019-08-18 01:51] #31 closed

[2019-08-18 08:51] rafa-as commented on #28
What exception? Can you provide more info?

I will test your route but we have equal routes in our three apps and everything works.

[2019-08-18 13:31] OsamaFelFel opened #33 "Cookies issue in Angular 7, SSR and domino"
I'm using your package with Angular 7 in SSR mode. I was facing an issue related to cookies and I thought it's related to the package itself until I got a feedback that the package  works with SSR ( feedback was given on #31 ).

After some investigation I found the root cause is domino package. Domino is mocking the document object during SSR and when you try accessing document.cookie the result w

[2019-08-18 14:39] gilsdav commented on #33
https://github.com/angular/angular/blob/master/packages/platform-server/src/domino_adapter.ts

I don't really like this breaking change.

I think the problem is with `typeof document.cookie` because `typeof` execute javascript getter.

I will move the check into the try instruction.

[2019-08-18 15:50] OsamaFelFel commented on #33
@gilsdav I tested the code from PR #34 and it's working perfectly.

Please don't forget merging the change into 1.7.x

Thanks a lot 😃

[2019-08-18 15:59] gilsdav commented on #33
Perfect, deployed as version `1.7.2`.
Thank's for your collaboration.

[2019-08-18 15:59] #33 closed

[2019-08-19 07:49] giacomo commented on #27
@rafa-as @gilsdav
IMHO for the packages is not required to implement a lock file, since it have no dependencies.

There is only a usage of peerDependencies:
[code]

[code]

https://nodejs.org/es/blog/npm/peer-dependencies/#using-peer-dependencies

[2019-08-19 07:51] rafa-as commented on #27
@giacomo I don't talk about peerDependencies. My request is about dependencies and devDependencies.

[2019-08-19 18:44] Jonnyprof commented on #26
@gilsdav, sure, sorry for the delay.
It looks good to me, but testing on my code it didn't work until I'd put a discriminantPathKey on a specific child, I don't know why. After this change, it did work.

As I wrote you on the PR, I would change the order of the key construction from:
DISCRIMINANT-LANG/PATH
to
LANG/PATH-DISCRIMINANT
It makes more sense to me.

Thanks so much.

[2019-08-22 17:30] OsamaFelFel opened #36 "Navigation out of ** path is not working"
I have a weird behavior which I can't understand. I have the following routes

[code]

Whenever I land on NotFoundComponent, all links stop working. The URL in the address bar is being changed but the actual navigation is not happening. I'm not sure how this would be related to this package but when I revert it everything works normally.

How do you suggest carrying on the investigation on this? I

[2019-08-23 13:45] pfraces opened #37 "[Question] How to use the CacheMechanism after user accepts the cookie policy"
I want to cache the selected language just after the user accepts the cookie policy.

Is it possible to configure the `LocalizeRouter` with `cache: false` and change this behavior dynamically in the future?

In case it is not possible, have you an alternative approach?

[2019-08-25 17:27] giacomo commented on #28
more information on that topic
https://github.com/angular/universal/issues/1184

[2019-08-26 17:06] MoatazHatem commented on #36
@gilsdav I'm facing this exact issue, is there a workaround for it?

[2019-08-28 11:42] gilsdav commented on #36
@OsamaFelFel @MoatazHatem
I have to invest in this point but a usable workaround is to use `redirectTo` when path is `**` :

[code]

[2019-08-28 11:56] gilsdav commented on #37
@pfraces
The only way I see (with current version) is to save a localStorage and refresh the page when it's accepted.

[code]

You will be able to use this config:
[code]

[2019-08-28 14:38] gilsdav commented on #36
@OsamaFelFel

I can fix it but you have to keep something in mind: It will not be possible to change lang from this URL.

Reason : it's a wildcard url so we can not be sure that the language is in url.

If you use a `redirectTo`, we will be able to change lang because the url is known.

To let user get the "404" page message into his lang, prefer the "redirect to".

[2019-08-28 15:00] OsamaFelFel commented on #36
@gilsdav I think this is OK and reasonable. I think you need to highlight this on the README after fixing the bug. Other people need to understand it

[2019-08-28 16:32] OsamaFelFel commented on #36
@gilsdav Thanks a lot, would you please merge it into 1.7.X branch

[2019-08-28 18:45] gilsdav commented on #36
Fixed in version `1.7.3`.

[2019-08-28 18:45] #36 closed

[2019-08-28 18:46] gilsdav commented on #26
Fixed in version `1.7.3` for Angular 7.
Waiting for publish Angular 8 version.

[2019-08-28 19:03] gilsdav commented on #26
Fixed in version `2.1.1`.

[2019-08-28 19:03] #26 closed

[2019-09-11 20:42] gilsdav commented on #37
@pfraces Is it an acceptable way for you ?

[2019-09-11 20:42] ruizmarc commented on #16
Yeah, I’m aware of this. There is no way to uniquely identify a key after being translated. Two keys can be translated to the same value, or even a value that should not be translated can match the value we are looking for.

I thought about cloning the params object and remove a pair when we use it, however, it is not a perfect solution neither, so I discarded it. The order of the params matched w

[2019-09-11 21:07] gilsdav commented on #16
Thanks for your feedback.

The problem with `escapePrefix` can happened really easily so I have added explanation into the Readme.

For the second one, I will search about an other way and keep you in touch.

[2019-09-11 21:40] ruizmarc commented on #16
Ok, it is good to have that in the Readme :)

About the second one, maybe we can have the feature released anyway, while a way to fix the bug is found. It doesn’t seem to be a very common case... and the work around is pretty straight forward, avoid colliding two segments in the matcher with the same value. Maybe it can be release with a note in the readme, until a better solution is found.

Note:

[2019-09-13 16:51] gilsdav commented on #37
Closed due to inactivity.

[2019-09-13 16:51] #37 closed

[2019-09-14 19:12] gilsdav commented on #16
@ruizmarc

What do you think about this strategy ?

In the library:
[code]
[code]

In your matcher:
[code]

[2019-09-14 21:43] ruizmarc commented on #16
I think it couples more your app logic to the library, as your depending on a type of the library, but it solves the problem. From my point of view, it is ok to do it this way.

I would prefer not coupling so much the matcher with the lib, but from my own experience it doesn't seem possible to do it without coupling. I've tried a lot of different ways without it and all of them have drawbacks.

Le

[2019-09-15 20:33] gilsdav commented on #16
Are these explanations clear ?

[2019-09-15 20:44] ruizmarc commented on #16
Looking at the example that can be found just after the explanation, for me it is clear enough :)

[2019-09-15 21:38] gilsdav commented on #16
Every points of this issue are available on version `2.2.0`.

[2019-09-15 21:38] gilsdav commented on #30
Published on version `2.2.0`

[2019-09-15 21:38] #30 closed

[2019-09-16 07:34] #16 closed

[2019-09-17 12:55] Nekronik opened #43 "redirectTo: "/" does not work"
The property redirectTo is producing an invalid url when the desired result is the root (including language).
When `/` is provided the result is `lang/` which is not a valid url.

Imagine a route tree where the accepted routes are:
[code]

With the following config `/en/element` is not accepted and redirected to root:
[code]
To fix this trailing slash `.replace(/\/$/, '')` needs to be added to the

[2019-09-17 23:01] gilsdav commented on #43
Thanks for this issue with very nice description, investigation and solution.
I will fix this today.

[2019-09-18 10:48] steosoft commented on #43
@gilsdav is issue already resolved?

[2019-09-18 15:59] gilsdav commented on #43
@Nekronik

Regarding to this usage (if no prefixLang is needed we have to receive `"/"` and not `""` I guess):
[code]

So I prefer to fix it here:
[code]

What do you think about that ?

[2019-09-18 16:35] Nekronik commented on #43
@gilsdav
This would not work if there are query params.

My fix also made sure that no `/lang/something/something/` was generated.

Maybe we can also remove the first slash and add the slash afterwards with `^\/|\/$`

[code]

[code]

[2019-09-18 18:52] gilsdav commented on #43
@Nekronik  You are right.
This will not works with relative path (without root `/`).

I took the opportunity to generalize the addition of the prefix.

So here is the logic I use:
[code]

[code]

Do you think of possible regressions?

[2019-09-19 09:16] Nekronik commented on #43
I can't think of any major bugs based on this change.

The only thing that I believe can happen is that when lang is not required it can produce `/something/something/`, with a trailing slash, since the result gets returned straight away.
Although it will only appear when localize is used as follows:
`['/something/something', ''] | localize` or `'/something/something/' | localize`

We can probably

[2019-09-19 17:58] gilsdav commented on #43
Fixed in version `2.2.1`

[2019-09-19 17:58] #43 closed

[2019-09-19 18:28] moczix opened #45 "Lazy Routes children dont translate"
Hello we've go a problem, lazy routes children are not translated and dont event get params from activatedRoute. Try to add translations for
```src/app/test2/test-routing.module.ts``` for path `sarah` :D

i investigate it and at file localize-router.parser you have method _translateRouteTree and there is condition
`        if (route.loadChildren && (<any>route)._loadedConfig) {
          this._tra

[2019-09-19 18:43] gilsdav commented on #45
Hello @moczix, It work's as expected using `"ROUTES.sarah": "elisabeth"`.

I will check with new version of Angular 8.

[2019-09-19 18:47] gilsdav commented on #45
@moczix Can not reproduce with new Angular 8.

Do you use new lazyload syntax ? `import('./test2/test.module').then(mod => mod.TestModule)`

[2019-09-19 18:51] moczix commented on #45
yes, i will check again tomorrow and let you know, maybe i did something wrong mhm

[2019-09-20 06:31] moczix commented on #45
ehh i got wrong order of imports, i got:
`imports: [LocalizeRouterModule.forChild(routes), RouterModule.forChild(routes)],`
instead of
`imports: [RouterModule.forChild(routes), LocalizeRouterModule.forChild(routes)],`

[2019-09-20 06:31] #45 closed

[2019-09-28 08:36] moczix opened #46 "angular 9 ivy errors"
hello, i tried to use this in angular 9 (~9.0.0-next.8) with IVY enabled and we've got a problem ;d

app build okey (you need to add @injectable to localize-router.service), and when in console you will see

`ERROR TypeError: Cannot read property 'state' of undefined
    at LocalizeRouterPipe.transform (localize-router.pipe.ts:50)
    at ɵɵpipeBind1 (core.js:35382)
    at AppComponent_Template (te

[2019-09-28 14:55] moczix commented on #46
`    const isIvy = (<any>this._ref)._lView;
    if (isIvy) {
      return this.value;
    }

    if ((<any>this._ref)._View.state & VIEW_DESTROYED_STATE) {
      return this.value;
    }
    this._ref.detectChanges();
    return this.value;`

my fix :P page is working, and translations also but i dont know what if all is working ;d

[2019-09-30 20:42] gilsdav commented on #46
Hello @moczix,
Thanks for your interest for this lib and for you investigations.
I will check it this week.

[2019-10-02 19:05] gilsdav commented on #46
Hello @moczix,

Ivy is really unstable at the moment Angular is blocking any publishment of libraries built with Ivy.

So I will not be able to be compatible with Ivy now.

[2019-10-29 12:57] RFreij opened #47 "Default language issue"
Hi there, first of all thanks for forking Greentube/localize-router and getting it to work on Angular 8+

We've been using your package while upgrading our whole system for a couple of months now and we've encountered an issue regarding setting the default language.

We would like to have some routes translated to 'nl-BE' and all other routes need to stay at 'nl-NL' so the 'nl-BE' file doesn't hav

[2019-10-30 18:35] gilsdav commented on #47
Hello, thanks for your question. I'll check that as soon as possible.

[2019-11-13 08:39] AlisonVilelaTenchi opened #48 "Four letter language code"
Can I use four letter language code instead two?
[code]

[2019-11-13 10:07] AlisonVilelaTenchi commented on #48
Oh, sorry

I can do it using ManualParserLoader hehehe

[2019-11-13 10:07] #48 closed

[2019-11-13 20:41] gilsdav commented on #47
Hello,
Having default lang for routes can be achieve using your own provider.
Unfortunately some options are privates but there is a workaround. I will probably make them public in future.

Here is an example:

[code]

[code]

Is it what you need ?

[2019-12-03 19:12] RFreij commented on #47
Hi sorry for the late reply,

It looks promising, i'll try your solution. I'll close the issue for now and reopen if there are any problems

Thanks alot for looking into it!

[2019-12-07 16:58] r3st1k25 opened #49 "ERROR Error: Arguments array must have arguments"
Hi. I tried to use this package. Angular 8.2.7

I have issue when i trying to inject LocalizeRouterService in any component or service:

From Injectable service:
`MainBrowserComponent_Host.ngfactory.js? [sm]:1 ERROR Error: Arguments array must have arguments.
    at injectArgs (core.js:809)
    at core.js:16345
    at _callFactory (core.js:30485)
    at _createProviderInstance (core.js:30428)

[2019-12-07 17:07] r3st1k25 commented on #49
Fixed by rebuild proj.

[2019-12-07 18:06] gilsdav commented on #49
Hello, I am confused by your last comment.
Do you still have the issue?

[2019-12-07 18:58] r3st1k25 commented on #49
@gilsdav no, thanks!

[2019-12-07 18:58] #49 closed

[2019-12-14 13:32] gilsdav commented on #46
@moczix, can you try version `3.0.0-rc1` ?

[2019-12-14 21:00] gilsdav commented on #46
New version `3.0.0-rc2` is now compatible with Angular Universal 9.
Usage example: https://github.com/gilsdav/angular-universal-localize-router

[2019-12-16 13:01] ingljo opened #51 "formatQueryParams when param is array"
I have an issue when a query param is array, for example id=1&id=2, the new query params after language change becomes id=1,2.
I think the issue is releated to formatQueryParams in localize-router.parser.ts.
Perhaps something like this could resolve this?
[code]

[2019-12-16 23:31] gilsdav commented on #51
Hi, that totally correct. Thanks for this issue and this fix proposal.
What version are you using ? `1.7.x`, `2.x.x` or `3.x.x` ?

[2019-12-18 19:06] gilsdav commented on #51
Fix deployed as `2.2.2` and `3.0.0-rc3`

[2019-12-18 19:06] #51 closed

[2019-12-19 16:14] RFreij commented on #47
Hi @gilsdav your solution is working fine for the routes!

However we came upon a edge case where some devices didn't have the correct language for the normal translations.

We do have a APP_INITIALIZER that calls the translateService.setDefaultLang ourselves as well but it is being called to early sporadically.

I've forked the repo and created a package myself to test something and with disablin

[2019-12-20 21:26] gilsdav commented on #47
Hello,
I will check this but when I need to manage "first translation call" myself (for my native cloud apps) I use my own loader:
https://github.com/gilsdav/configurable-translate-http-loader
Can't this help ?

[2020-01-21 17:44] hymenoby commented on #28
@rafa-as is there a workaround on this issue?

[2020-01-23 14:10] rafa-as commented on #28
@hymenoby I'm pretty sure this issue is not happening now. I think the point is the new way to declare lazy loaded modules inside routes.

[2020-01-23 14:22] rafa-as commented on #28
We have solved it with the following code:

**app.module.ts -> providers**
[code]

**app-routing.module.ts**
[code]

**language.service.ts**
[code]

@gilsdav what do you think? we can add this logic inside the library?

[2020-01-23 20:01] hymenoby commented on #28
@rafa-as I tried to add the code but now the routes aren't translating any more

here is my app.module.ts
[code]

and here is my routing.module.ts
[code]

[2020-01-24 08:59] rafa-as commented on #28
@hymenoby you should export LocalizeRouterModule in your routing file and I think that the APP_INITIALIZER provider should be uncommented.

Normally is a good practice to import the AppRoutingModule the last one

[2020-01-27 16:32] hymenoby commented on #28
@rafa-as the problem is still not solved in my project, any page where i use a resolver to load data is no more working .

[2020-01-28 08:59] rafa-as commented on #28
@hymenoby you pages without a resolver works properly?

[2020-01-28 11:54] hymenoby commented on #28
@rafa-as , i tried the changes you were talking about and they didn't work, when i use them, the url without pages without resolver are not translated and the pages with a resolver have an error.

i tried to make it work and i found a workaround for the pages without resolver, i found out that the problems occurs, when the parser does not find the translations to the routes (I think the language s

[2020-02-06 10:54] bouro opened #54 "The value of routerLink does not change in the AppComponent"
Hello,

Thank you for your library and the work you do.

I use `ionic` with `angular`, I noticed that in the side menu which is loaded in the `app.component.html` does not change the value of the `routerLink`.

[code]

[2020-02-13 09:52] gilsdav commented on #54
Thank's for this interesting issue, I will check this soon.
Did you find a workaround?

[2020-02-13 12:53] bouro commented on #54
Just a workaround at the moment.
I created a `PagesService`
[code]
And in the AppComponent
[code]
[code]

[2020-02-13 15:37] gilsdav commented on #46
Stable version is out: `3.0.0`

[2020-02-13 15:37] #46 closed

[2020-02-17 12:34] giacomo opened #55 "ngx-translate-router@3.0.0 has incorrect peer dependencies"
@gilsdav got some issues using Angular 9 with your package.

[code]

I would use "@ngx-translate/core": "^12.1.1",

and the ngx-translate-router should be updated as well to "angular 9".

Thanks.

[2020-02-17 15:23] giacomo opened #56 "ngx-translate-router@3.0.0 Fail running tests"
Running my testsuite i got following error:
[code]

[2020-02-24 05:32] bgever opened #57 "AoT converts cacheMechanism namespace constant to null"
In my app I changed the default cache mechanism from local storage to cookies.

I did that in my code with the constant as described in the README:
[code]

However, in AoT builds, the constant is turned into null, as seen in the minified output:

[code]

And with a debugging breakpoint in `get_cachedLang()`, I can see that `this.settings` has the following:
[code]

By changing the value to a strin

[2020-02-24 19:37] gilsdav commented on #55
Hello @giacomo ,
These are some warnings but do you know if it's working too with ngx-translate 12 ?

[2020-02-24 19:41] gilsdav commented on #56
How do you import the `LocalizeRouterModule` in your test suite ?
Did it works on previous version ?

[2020-02-24 19:43] gilsdav commented on #57
Hello @bgever,
Thank's for your issue.
I will try to reproduce it.

[2020-02-24 19:56] giacomo commented on #56
yes it worked before the update to angular 9.

[2020-02-24 20:00] giacomo commented on #55
@gilsdav I could not test it, but I think it should work.

but the main problem is the peer dependencies of the http loader

[2020-02-24 20:13] gilsdav commented on #57
Your issue is already fixed from version `3.0.0`.
Do you need a version `2.2.3` with this fix only ?
Version 3 is compatible with Angular 8 and 9.

[2020-02-24 20:24] gilsdav commented on #55
Can you try version `1.1.1` ?

[2020-02-24 20:31] gilsdav commented on #56
Can you give your `TestBed.configureTestingModule` ?

[2020-02-25 04:02] bgever commented on #57
Oh, I didn't realize v3.0.0 is released already – didn't see it in the Releases tab.

For now I can work with the workaround, but I may wait a little before switching to the next major version, thus a v2.2.3 would be nice. 👍

[2020-02-25 07:24] giacomo commented on #56
This are the imports and the providers
[code]

[2020-02-25 09:17] giacomo commented on #55
After updating to 1.1.1 i've got only this logs:
[code]

[2020-02-25 18:28] gilsdav commented on #57
Version `2.2.3` is now available.
You can reopen this issue in case of problem.

[2020-02-25 18:28] #57 closed

[2020-02-26 06:11] bgever commented on #57
Much appreciated, @gilsdav!

[2020-03-02 13:13] loredanKon opened #59 "HTML href from component.ts"
My environment:
`
Angular CLI: 8.3.25
Node: 12.16.1
OS: win32 x64
Angular: 8.2.14
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect         0.803.25
@angular-devkit/build-angular     0.

[2020-03-02 13:22] loredanKon commented on #59
My fault, when I click that link I use again LocalizeRouterService. Sorry.

[2020-03-02 13:22] #59 closed

[2020-03-04 14:25] rafa-as commented on #27
@gilsdav some news here?

[2020-03-12 13:11] Cyberuben opened #60 "Instructions unclear on translating routes with parameters"
Hi,

I'm currently not sure how I translate certain routes that contain parameters. I have the following setup:

[code]

I'm trying to get the translated route, but the `:cityId` parameter obviously should not be translated. I might plan to support slugs in the future, so might need some explanation on how to translate it using data that I manually want to provide, however, I currently try to navi

[2020-03-23 18:49] Cyberuben opened #61 "Routing breaks when using discriminantPathKey and skipRouteLocalization"
I've been trying to debug an issue for hours and I've finally found out what the issue is.

The `GilsdavReuseStrategy` has a `getKey()` method, that seems to return undefined in all circumstances when `skipRouteLocalization` is not used. I'm using regular `path` keys, instead of a `matcher`, causing it to always return undefined for my routes. Because `undefined === undefined` is obviously true, i

[2020-03-23 19:11] #60 closed

[2020-03-24 10:30] m1roh opened #62 "Can't navigate to sibling routes"
I'm trying to integrate the package, it works for almost all routes except when I try to navigate to a sibling route. The url change, but I'm not redirected to the wanted view. I can't figure what I'm doing wrong. Here is my configuration :

view-login.routing.ts:
[code]

view-login.component.html:
[code]

view-authenticate.routing.ts:
[code]

view-authenticate.component.html:
[code]

view-login-l

[2020-03-24 12:43] gilsdav commented on #62
Hello,

Can you try to add a "discriminantPathKey" to each of your sub empty path ?
`data: { discriminantPathKey: 'UNIQ_KEY' }`

What version (of angular and of this library) do you use ?
Lazy-loading by string is no longer supported.

[2020-03-24 12:48] gilsdav commented on #61
Thank's for this issue @Cyberuben .
I will check to fix this asap.

[2020-03-24 12:59] m1roh commented on #62
Hello ! I'm currently use Angular 7, this is why I use lazy-loading by string. I actually try to implement your package in order to upgrade to Angular 9 since actually I dynamically re-write the router for the routes translations, but since Angular 8 the methods I use are now private in the Angular router, so I can't no longer rewrite them.
Here is an extract of my package.json :
![Capture d’écra

[2020-03-24 13:06] gilsdav commented on #62
You have right version if you already upgraded to Angular 8 or 9 but as you know, there are to much changes between Angular 7 and 8 on routes.

Refer to this table:
![image](https://user-images.githubusercontent.com/21348530/77428603-a2357f80-6dd8-11ea-90cb-511a3331b332.png)

[2020-03-24 13:25] m1roh commented on #62
Thank you a lot, that works with the package version for ng 7.
I'm very sorry for this waste of time.
I actually have another issue with some route data, but this is not related to this issue, I hope I'll can figure myself what I did wrong for this one.
I close the issue, and thank you again !

[2020-03-24 13:25] #62 closed

[2020-03-24 17:51] tiagomoucho3 opened #63 "Can't seem to translate anything!"
Hello!

So, I followed the instructions but I couldn't get the routing translations to work...

I installed the packages as mentioned and followed the instructions as best as I could.
This is currently my code:

app.routes.ts
[code]

app.module.ts

[code]

assets/i18n/locales.json

[code]

assets/i18n/pt.json

[code]

app.component.ts

[code]

Common translations using ngx-translation work just fi

[2020-03-24 19:07] gilsdav commented on #63
Is your config path correct ? "../assets/i18n/locales.json", you "../" is really specific. You probably have a sub path on your server ?
Can you try to add `"prefix": "ROUTES."` into your locales.json ?
What are your Angular and ngx-translate-router versions ?

[2020-03-25 10:49] tiagomoucho3 commented on #63
Hi!
It seems that the locales path was alright, but the problem was really the missing "prefix": "ROUTES."
I added it and it's working now! 😄

Also, if you can look at my app.routes.ts, you can see that I have an unsused auxiliary route there (shopping:cart). I commented because he can't find that route.
What I'm using is:
[code]

Do I have to do any aditional configurations to get outlets working

[2020-03-25 16:39] Cyberuben commented on #61
Sadly this issue seems more complex than what I reported earlier, but it might be related. I have included my routing below so you can see what I've done.

Because I wanted to continue development while I was waiting for this fix (to prevent other issues in the admin controls), I wanted to redirect all non-English routes to English routes. So I had the following code in the `ngOnInit()` of my `Adm

[2020-03-25 17:42] gilsdav commented on #61
@Cyberuben
I tried to reproduce your second issue by creating quite the same routes than yours but without success. I don't have your issue.

Your first issue was something known but it was not a priority.
I think I will fix it like that :

Add into getKey
[code]

But I have some test to do.

Can you give a repo that reproduce your issue ?

[2020-03-25 17:43] Cyberuben commented on #61
I think I have some more information to add. It seems that when I visit my regular routing, so the non-lazy loaded module, the `data.localizeRouter.path` has cases where the value is an empty string. However, in my lazy-loaded module, the `data.localizeRouter.path` always seems to have a value of `"admin"`, what makes me think that somewhere, this value is set wrongly.

I'm taking big assumptions

[2020-03-25 17:51] gilsdav commented on #61
tried it with
[code]
and
[code]

with sub routes:

[code]
So the same as your lazy-loaded routes

[2020-03-25 17:55] gilsdav commented on #61
I got it,
Did you import the modules with right order ?

Right:
[code]
Wrong:
[code]

[2020-03-25 17:57] Cyberuben commented on #61
It seems that the 2nd issue I had was due to the order of imports. It might be good to explicitly state that for lazy-loaded routing to work, the `RouterModule` has to be imported before `LocalizeRouter`. I only noticed that I had these two switched around when I didn't see the `initChildRoutes` being called at all.

[2020-03-25 18:12] gilsdav commented on #61
For sure, I will highlight it in the doc.
I'm working on the main issue.

[2020-03-25 19:43] gilsdav commented on #61
@Cyberuben Do you have a way to test the branch (of the PR) before à publish it ?

[2020-03-25 21:08] gilsdav commented on #63
I have to investigate but currently multiple/specific outlets is not supported.
I personally forbid its use in my teams.
Did you try something like this ?
[code]
Does it work without this library ?

[2020-03-26 13:09] Cyberuben commented on #61
If you can explain me how I can test it properly locally, I couldn't get it to work earlier

[2020-03-26 16:48] gilsdav commented on #61
A tester already validated it but I prefer you validate it (because you are the owner of the issue) by using:
`npm install https://github.com/gilsdav/ngx-translate-router/releases/download/3.0.1/ngx-translate-router-3.0.1.tar`

[2020-03-27 16:49] tiagomoucho3 commented on #63
I tried your alternative, but it did not work unfortunately :(

It did work without this library, but all in all, I prefer to have translated routes instead of outlets 😄

Thanks for your time!

[2020-03-27 16:49] #63 closed

[2020-03-29 13:17] Cyberuben commented on #61
It seems to work as intended, thank you!

[2020-03-29 13:22] Cyberuben commented on #61
One bug I found though, if you use `changeLanguage(lang)` while on a non-localized route, it creates some weird behavior. I want to be able to still change the language of my application, despite the current route not being localized.

Calling `changeLanguage("en")` while on route `/admin/users` causes it to redirect to `/en/users`.

[2020-03-29 13:44] gilsdav commented on #61
@Cyberuben I can't reproduce.
Your admin path is localized in your exemple so can you give a reproductible route config ?

[2020-03-29 13:47] Cyberuben commented on #61
My `app.module.ts` contains these routes:

[code]

I haven't changed anything in my Admin router. Inside my `AdminComponent` (first route in `AdminRoutingModule` I run this code:

[code]

This redirects me to the URL I mentioned before.

[2020-03-29 14:27] gilsdav commented on #61
Thank you, he highlighted an inconsistency.
* localized skiped lazy route: skip only the current segment
* localied skiped route: skip all these children
The most configurable would be to do like the first point, but I'm afraid that it's a breaking change.

[2020-03-29 14:29] Cyberuben commented on #61
I'd suggest you fix this some other time then, as I can probably work around it for now. Thanks for the fix.

[2020-03-29 14:34] gilsdav commented on #61
A possible workaround is to let empty path in parent but set "admin" path and skip location in root path of your admin routes:

[code]

[2020-04-22 18:41] NurdinDev opened #65 "how to deal with old links?"
In my app, I want to keep old links works so the users open `/home` it's should redirect him to `en/home`
how to do that?

[2020-04-25 15:01] gilsdav commented on #65
What a good question.
The first thing that comes to my mind is to detect if there is a language in the url in an AppInitializer. Perform a translation `translateRoute (...)` otherwise.

[2020-04-26 21:18] nbedevi commented on #65
I have made this `alwaysSetPrefix: false` I don't know if this a good way or not, but at least when I open the old links it's working fine, is there a bad effect to use this solution?

[2020-05-18 14:07] rafa-as commented on #55
@gilsdav do you accept PR changing the peer dependency?

[2020-05-19 19:47] gilsdav commented on #65
That's the wry way but not using it I don't know its stability.
Do you see any issues using it ?

[2020-05-19 19:50] gilsdav commented on #55
@rafa-as For sure, you are welcome :)
I'll just have to made some tests with ngx-translate 12 after that but you confirm that you don't have any issues with it ?

[2020-05-19 20:07] rafa-as commented on #55
@gilsdav for sure, we have 3 complex apps with Angular 9 and ngx-translate 12 in production with no errors for several weeks ago.

So tomorrow I’ll do the PR if you can accept it👌🏽

[2020-05-24 12:31] Cyberuben commented on #61
Is this version still going to be released on NPM? I'm still installing directly from Git.

[2020-05-24 20:37] #65 closed

[2020-05-24 20:38] gilsdav commented on #61
Yes it is, I'm waiting a small PR from a collaborator and publish it :)
Sorry for the delay.

[2020-05-26 16:32] #55 closed

[2020-05-26 16:49] gilsdav commented on #55
Published as:

- @gilsdav/ngx-translate-router@3.0.1
- @gilsdav/ngx-translate-router-http-loader@1.1.2

[2020-05-26 16:49] gilsdav commented on #61
Published as:

@gilsdav/ngx-translate-router@3.0.1

[2020-05-26 16:49] #61 closed

[2020-06-02 17:01] neverlose-lv opened #68 "localize pipe is not working?"
Hi, am using it wrong, or it is not working?

      <a [routerLink]="'/manual' | localize">
        Manual page
      </a>

This do append a language code, something like: exampe.com/ru/manual
But it does not translate the '/manual' string itself.

If I use it like this:

      <a [routerLink]="'/manual' | translate | localize">
        Manual page
      </a>

then it translates the '/manual' to a

[2020-06-02 17:06] gilsdav commented on #68
Hello @neverlose-lv can you give more informations like your i18n file (`ru.json`) and your factory
like `(translate, location, settings) => new ManualParserLoader(translate, location, settings, ['en','ru',...], 'YOUR_PREFIX')`

[2020-06-02 17:09] rafa-as commented on #68
I think that you do not have the routes key prefixed, because of the translate pipe translate it I'm sure that the prefix is missing.

[2020-06-02 17:12] gilsdav commented on #68
More information about how translation works : https://github.com/gilsdav/ngx-translate-router#how-it-works

[2020-06-02 17:23] rafa-as opened #69 "Standardize library, releases and processes"
I think that several files and processes should be added to make this library stronger and standard.

- [ ] Changelog
- [ ] Automated Relase flow
- [ ] GitHub releases
- [ ] GitHub templates to open issues and make PR
- [ ] GitHub actions to build, test and lint the library
- [ ] How to contribute section
- [ ] Add package manager lockfile
- [ ] Git commit convention and linter
- [ ] ...

I can do

[2020-06-02 17:25] neverlose-lv commented on #68
Thanks, I'm gonna read about the prefix, may be that is the problem. But here is more information:

AppModule:

[code]

ru.json ( I wrote it by hands, as the extractor does not wokk for me, using | localize. It works great with | translate.

[code]

+ the translations are not extracted by the extract plugin: https://github.com/biesbjerg/ngx-translate-extract

[2020-06-02 17:31] neverlose-lv commented on #68
I have changed the prefix to 'ROUTES' in the AppModule and added:
  "ROUTES": {
[code]
to the ru.json.

But it is not translated anyway

[2020-06-02 17:44] neverlose-lv commented on #68
Alright, I've made it to work, by removing the prefix from AppModule at all:

[code]

ru.json:

[code]

It seems that the custom prefix does not work correctly.

+ two problems:
1) the extract plugin is not extracting | localize pipe parameters
2) how can I redirect user to the same page, with different language (so the route should be changed) ? e.g.: /en/manual -> /ru/руководство

[2020-06-02 17:50] neverlose-lv commented on #68
I reviewed the source code: https://github.com/gilsdav/ngx-translate-router/blob/master/projects/ngx-translate-router/src/lib/localize-router.parser.ts

it seems that the custom prefix should be provided with the dot postfix, like: 'ROUTES.' or 'MY_PREFIX.' - the dot(.) is mandatory in the end..

[2020-06-02 18:04] neverlose-lv commented on #68
Alright.
To solve the two problems I were talking earlier:
1. I just add [attr.title]="'ROUTES.manual' | translate" to the link, then the translation will be extracted. For multiple links I suggest to move the prefix 'ROUTES.' to some global variable and use it instead of hardcode.

2. LocalizeRouterService.changeLanguage() method works great for this.

[2020-06-02 18:04] neverlose-lv commented on #68
Thank you for help guys.

[2020-06-02 18:09] neverlose-lv commented on #68
oh, there is also a marker function, that can be used for the routes to translate:
[code]

[2020-06-02 18:38] gilsdav commented on #68
Thanks to @rafa-as . @neverlose-lv I think you have found the answers. So I'm going to close this issue. Happy work with this lib.

[2020-06-02 18:38] #68 closed

[2020-06-02 18:49] gilsdav commented on #69
Thank you for your investment!

Indeed, this is something that will have to be implemented fairly quickly.

I plan to set up an automatic build via azure-devops so that it:
- Create a version for each git tag (be careful not always in latest)
- Fill the release note with commit messages

Do you usually use github actions, travis or other CI-CD tools? Or are you familiar with azure-devops ?

We sho

[2020-06-10 22:57] #27 closed

[2020-06-11 07:40] rafa-as commented on #69
Sorry @gilsdav I left this comment as a draft on the mobile app.

Sure, I used Travis and CircleCI. I never used  GitHub Actions but I read about it and seems pretty simple to implement and efficient, I agree with you we can use it.

I think that with a little work I can replicate the scenario that I did on some other libraries with the following features:

- Commitlint with Angular conventions
-

[2020-06-11 15:57] gilsdav commented on #69
Looks great :)
* "GitHub releases": possible to do it only on tag creation ? (add changelog to automatically created release)
* "New package.json scripts": we can now run "npm start", "npm test", "npm run build", what to you mean by "easier and standard" ?
* "to avoid misconfigurations" Did you find some ?

[2020-06-11 16:21] rafa-as commented on #69
For sure, the GitHub release it's a manual process that is very simple with some tools. The same for the changelog, that is only generated in the release process.

Create several new scripts with watchers (tests for example), separate the two libraries, and the demo.

I did not check yet but I did the same operation in two other libraries and I found several differences between a library created f

[2020-06-23 18:52] Ismaestro commented on #28
any updates?? I'm stuck here, as lots of people, I think...

[2020-06-29 22:33] Raphy opened #70 "Issues with lazy loaded routes"
Hi,

I've some issues when using this library with lazy loaded routes.

I have 2 routes : `/lazy-one-level` and `/lazy-two-levels/child` and two languages `fr` and `en` (default). Everything in `en` works fine. But in `fr` it's not working well :
`/fr/lazy-one-level` (the route is in fact translated) can be loaded if I come after the application have been initialized (from Home) but it's not found

[2020-06-30 04:50] gilsdav commented on #70
Hello @Raphy ,

You just have to import it as written in the documentation:

_Be careful to import this module after the standard RouterModule and the TranslateModule. This should be done for the main router as well as for lazy loaded ones._
[code]

[2020-06-30 07:29] Raphy commented on #70
Thanks for you reply @gilsdav !

I've made the changes as described in the documentation and saved it in the Stackblitz but the errors still occurs...

Don't understand why :(

[2020-06-30 17:52] gilsdav commented on #70
You problem seems to come from `initialNavigation: "enabled"`. Removing it solve your problem.
You probably added it to avoid "flickering" on ssr mode ?

[2020-07-01 12:05] Raphy commented on #70
I've indeed a SSR setup and this setting is to avoir the flickering.
On Stackblitz the issue is different of my local environment with SSR mode.
I've an error `RangeError: Maximum call stack size exceeded` but when I remove the `initialNavigation` setting, the error disappears !

[2020-07-06 21:38] miloshavlicek opened #71 "List of all possible translated routes"
When I use this package with [Scully.io](https://github.com/scullyio/scully) or its plugin for [sitemap generation](https://github.com/gammastream/scully-plugins/tree/master/projects/scully-plugin-sitemap), I have a problem that generated routes are untranslated.

Command for reproduction:
[code]

Is it possible to get a list of all translated routes?

[2020-07-07 16:50] gilsdav commented on #70
@Raphy @rafa-as I fixed the flickering bug on lazy-loaded routes.

You this prerelease by replacing your current version in package.json by
`"@gilsdav/ngx-translate-router": "https://github.com/gilsdav/ngx-translate-router/releases/download/3.1.0/ngx-translate-router-3.1.0.tar",`

You will also need to do this configurations:
[code]

Can you test it before I make this release ?

[2020-07-08 06:47] gilsdav commented on #71
Hello @miloshavlicek
Unfortunately the `scanRoutes` option is using [guess-parser](https://www.npmjs.com/package/guess-parser) instead of starting the app and fetching the route configuration. This plugin read itself the source file.
So I don't think it's and it will be possible to use this tool without an other layer that translate each generated routes.
Do you have a repo where I can make some t

[2020-07-08 09:33] gilsdav commented on #28
Fixed by https://github.com/gilsdav/ngx-translate-router/issues/70
@Ismaestro Can you test with de described way on this related issue ?

[2020-07-08 09:37] rafa-as commented on #70
@gilsdav I will test soon! Thanks!

[2020-07-08 10:51] miloshavlicek commented on #71
@gilsdav Thank you for your time. My implementation is here: https://github.com/cothema/sales-website/tree/dev-ngx
I love both libraries, static rendering and localized routes, so it would be really great to be able to work with both together.

[2020-07-08 11:16] Ismaestro commented on #28
@gilsdav hellooo I think it's working now!! I don't see any flirk and finally I can enable the 'initialNavigation' flag. I would like someone else to confirm it. Thanks for the fix David!

[2020-07-08 11:17] Ismaestro commented on #70
@rafa-as I think is working now, can you confirm? Thanks!

[2020-07-08 11:32] SanderElias commented on #71
@giacomo for Scully, I need a string[], that contains all the routes we need to process. Do you have such a list available? If so, we need to find a way to hand that over to Scully, and we can then integrate.

[2020-07-08 11:43] gilsdav commented on #71
@SanderElias I think the scanRoutes use guess-parser to generate a file with static routes. Am I right ?
ngx-translate-router only generate routes at runtime.
So we will need a tool to translate all routes on all languages in the file generated by guess-parser. That's my idea

[2020-07-08 12:05] SanderElias commented on #71
It's relatively easy for me to make Scully traverse all routes with prefixes.
Meaning, If I would get those routes from the guess-parser:
[code]
I can do add those for all languages in a set. (This set needs to be manually put in place)
For the set ['en','nl','fr'] the resulting (unhandled) routes would then be:
[code]
However, that would assume that those routes are existing, and handle the trans

[2020-07-08 12:08] gilsdav commented on #71
I don't know if this is what @miloshavlicek need.
If he choose do a complete translation here an example of the same page:
/en/home
/fr/accueil

[2020-07-08 12:09] gilsdav commented on #71
I confirm he translate his routes:
[code]

https://github.com/cothema/sales-website/blob/dev-ngx/src/assets/locales/en.json

[2020-07-08 12:18] gilsdav commented on #71
My idea is to make a took that use [translateRoute](https://github.com/gilsdav/ngx-translate-router/blob/bde1599148d06f52422f928cb8d4cdfa7bf6215a/projects/ngx-translate-router/src/lib/localize-router.parser.ts#L230) method of the parser to update the file generated by `scanRoutes`

[2020-07-08 19:56] gilsdav commented on #71
@SanderElias
If I had translate the file /src/assets/scully-routes.json but this file is always overriden by scully.
So
1. is it possible to intercept every routes in a router plugin ?
[code]
2. is it possible to create a router plugin with a priority ? (to be sure mine is the latest called)

[2020-07-09 05:59] SanderElias commented on #71
@gilsdav I'm currently engaged otherwise, but can we team up on this next week? Yes I think I can provide what you need, but it does need a couple of changes in Scully.

[2020-07-09 06:03] gilsdav commented on #71
@SanderElias No problem for me, we can get in touch new week about that 👍

[2020-07-10 08:20] rudini opened #72 "Route mutation problem when using NGRX"
When using the ManualParserLoader in combination with ivy rendering engine, the following Error occurs on switching between languages:

TypeError: Cannot assign to read only property 'path' of object '[object Object]'
TypeError: Cannot assign to read only property 'path' of object '[object Object]'
    at ManualParserLoader.push.../../node_modules/@gilsdav/ngx-translate-router/__ivy_ngcc__/fesm5/g

[2020-07-10 08:56] gilsdav commented on #72
Hello @rudini

I can not reproduce your issue on angular 9 or 10.
Example of working project https://github.com/gilsdav/angular-universal-localize-router/blob/master/src/app/app-routing.module.ts (Angular 10 update of this example will come soon, only exist on a local branche)

Can you give a way to reproduce you error ?

[2020-07-12 00:44] Raphy commented on #70
@gilsdav : you are amazing dude ! It works perfectly ;)
It solves the issue reproduced with Blitzstack and the RangeError when Router initialNavigation was enabled.

[2020-07-13 06:25] gilsdav commented on #70
Thank's for your feedback :) I will update the documentation and release it asap 😃

[2020-07-13 14:07] gilsdav commented on #71
New functionality available from [this MR](https://github.com/scullyio/scully/pull/736). Probably available in version 0.0.101

[2020-07-13 14:50] gilsdav commented on #71
@SanderElias good files are saved but the next step is quite strange
![image](https://user-images.githubusercontent.com/21348530/87318262-66116080-c528-11ea-8635-407a38275553.png)
The files are correct:
![image](https://user-images.githubusercontent.com/21348530/87318593-d8824080-c528-11ea-8d03-130431def8b0.png)
It looks like the `scully-plugin-sitemap` do not get the paths.
And I can see that the

[2020-07-13 17:41] #29 closed

[2020-07-13 17:52] gilsdav commented on #28
Deployed in version `3.1.0`

[2020-07-13 17:52] #28 closed

[2020-07-13 17:53] gilsdav commented on #70
Deployed in version `3.1.0`

[2020-07-13 17:53] #70 closed

[2020-07-14 12:19] SanderElias commented on #71
Can I try this somewhere? is there an sample?

[2020-07-14 12:29] SanderElias commented on #71
@gilsdav Fixed in Scully .102

[2020-07-14 12:49] gilsdav commented on #71
@SanderElias Awesome it seems to work now 😄
I will deploy the first version of the plugin to let @miloshavlicek try.
`@gilsdav/ngx-translate-router-scully-plugin`

[2020-07-14 20:32] gilsdav commented on #71
@miloshavlicek You can try the prerelease of the plugin by following this process:

1. Update scully `"@scullyio/scully": "0.0.102"`
2. Install the new plugin `"@gilsdav/ngx-translate-router-scully-plugin": "https://github.com/gilsdav/ngx-translate-router/releases/download/scully-0.0.1/ngx-translate-router-scully-plugin-0.0.1.tar"`
3. Add plugin into your scully config
[code]

Can you let me know

[2020-07-14 23:21] miloshavlicek commented on #71
@gilsdav Thank you so much. It works as expected except one case: blog posts - defined in ScullyConfig:
[code]

Output is:
[code]

Currently missing path is "/cz/blog/jak-vybudovat-startup-bez-investoru".

Scully docs is here: https://scully.io/docs/plugin/contentFolderPlugin/

[2020-07-15 11:26] gilsdav commented on #71
All right, I made a new prerelease:
[code]
You have to put all languages on the same directory
![image](https://user-images.githubusercontent.com/21348530/87539578-6c294d80-c69e-11ea-8f49-2d13b6d0c565.png)
It will take the lang metadata
![image](https://user-images.githubusercontent.com/21348530/87539623-819e7780-c69e-11ea-8caf-5792223cc99c.png)
Finaly remove lang from your scully config
[code]

P

[2020-07-15 20:33] miloshavlicek commented on #71
@gilsdav Thank you, now everything works as expected.

[2020-07-16 10:26] gilsdav commented on #71
This plugin is now published.
Documentation is available [here](https://github.com/gilsdav/ngx-translate-router/tree/master/projects/ngx-translate-router-scully-plugin#readme).

[2020-07-16 10:26] #71 closed

[2020-07-24 13:47] neverlose-lv opened #74 "LocalizeRouterModule + BrowserTransferStateModule + TransferHttpCacheModule = ERROR: Cannot instantiate cyclic dependency. Injection token HTTP_INTERCEPTORS."
Hi.
Here is one bug from the original repository, which I met in your fork.
https://github.com/Greentube/localize-router/issues/99

Can you fix it?

Since I don't use any interceptors in my APP, so the problem comes from the mentioned modules:
LocalizeRouterModule
BrowserTransferStateModule
TransferHttpCacheModule

The app was working before I added these 2 modules:
BrowserTransferStateModule
Tran

[2020-07-24 13:58] gilsdav commented on #74
Thanks @neverlose-lv, I will try to reproduce this ASAP.

[2020-07-25 13:21] gilsdav commented on #74
Hello @neverlose-lv,
I can't reproduce your issue.
Can you check the differences between your project and this [sample repository](https://github.com/gilsdav/angular-universal-localize-router) ?

[2020-07-29 05:25] nurdared opened #75 "ERROR TypeError: this.parser.load is not a function. help wanted"
I am quite new to Angular i need your package for my project, please help me!
This is my error, What I am doing wrong?

![image](https://user-images.githubusercontent.com/49809339/88760120-21bfca80-d18e-11ea-95c3-712981a3177f.png)

[2020-07-29 05:37] nurdared commented on #75
@gilsdav Can you explain what am i doing wrong?

[2020-07-29 06:58] gilsdav commented on #75
@nurdared Do you use a custom parser or do you use a existing one like ManualLoader or HttpLoader ?

[2020-07-29 07:05] nurdared commented on #75
@gilsdav Thank you for your reply! I already found solution, Yes I putted another loader that is why error happened!

[2020-07-29 07:05] #75 closed

[2020-07-31 08:33] Meldiron opened #76 "Parameters instructions unclear"
Routes definition:
[code]

Language file:
[code]

Code I try to run: `console.log(localizeService.translateRoute('/invite/aa/bb'));`
Response: /en/invite/`

If I try to go to `http://localhost:4202/en/invite/aa/bb`, it says `Cannot match any routes. URL Segment: 'en/invite/aa/bb'`

Routes such as /setup, /error works without a proble, the problem is caused by these 2 dynamic parts of route.

Any s

[2020-07-31 09:50] gilsdav commented on #76
Hello @Meldiron ,

You can currently not escape params.
So you have to make sure that the possible values are not in the route translations.

Route path:
`path: 'invite/:intTag/:userTag',`

And you just have to put path segments (words between `/`) into your translation file.

translations:
[code]

[2020-07-31 09:55] Meldiron commented on #76
I tried, I failed.
I went to: `http://localhost:4202/en/invite/rdtspss1/rdtspss2`
and got error: `Cannot match any routes. URL Segment: 'en/invite/rdtspss1/rdtspss2'`

With translations:
[code]

and routes configuration:
[code]

[2020-07-31 10:20] gilsdav commented on #76
Check multiple things:

1. Import order of modules (RouterModule must be before LocalizeRouterModule as written [here](https://github.com/gilsdav/ngx-translate-router#initialize-module)
2. Check the given [prefix](https://github.com/gilsdav/ngx-translate-router#manual-initialization) if you have set a custom one

[2020-07-31 10:34] Meldiron commented on #76
First of all, let me thank you for trying to help me with my case.
Order of modules should be correct and I did not change prefix.

assets/locales.json:
[code]

app.module.ts:
[code]

On line `new ManualParserLoader(translate, location, settings, ['en']),` I also tried adding adational argument `, 'ROUTES'` which made my wwhole web stop working and I also tried `, 'ROUTES.'` which was behaving sam

[2020-07-31 11:04] gilsdav commented on #76
That looks correct.
Can you give me a reproduction repo or by preference a Stackblitz ?

[2020-07-31 11:19] Meldiron commented on #76
I attacked as simple as possible version of my project as a ZIP folder.
Just run `npm i`and `ng serve`. Visit `http://localhost:4200/en/invite/rdtspss1/rdtspss2` and it should throw error `Error: Cannot match any routes. URL Segment: 'en/invite/rdtspss1/rdtspss2'`.

[TestProject.zip](https://github.com/gilsdav/ngx-translate-router/files/5006730/TestProject.zip)

[2020-07-31 14:44] gilsdav commented on #76
It's not compatible with the `TranslateICUParser`. I will check why.

[2020-07-31 14:54] gilsdav commented on #76
@Meldiron
This parser is just incompatible. It doesn't return the same things than the default parser.

You will have to add exceptions on this parser to return the key if nothing is found instead of an empty string.
You can do it only for keys that starts with "ROUTES.".

[2020-07-31 15:10] Meldiron commented on #76
Thanks, problem resolved, feel free to close issue.
For anyone using `TranslateICUParser`, here is fork which should work with ngx-translate-router:
https://github.com/Meldiron/ngx-translate-parser-plural-select

[2020-07-31 15:19] #76 closed

[2020-08-06 11:17] ShimshonMarketing66 opened #77 "ERR! code E404"
Cannot install

npm i @gilsdav/ngx-translate-router
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@gilsdav%2fngx-translate-router - Not found
npm ERR! 404
npm ERR! 404  '@gilsdav/ngx-translate-router@^3.0.1' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also insta

[2020-08-06 16:26] gilsdav commented on #77
Hello @ShimshonMarketing66,
Do you try to get it throw a proxy ?

[2020-08-07 04:02] ShimshonMarketing66 commented on #77
No proxy.
But now its suddenly working fine.
Thank you.

On Thu, Aug 6, 2020, 19:26 David Gilson <notifications@github.com> wrote:

[2020-08-07 18:30] #77 closed

[2020-08-25 08:14] rudini commented on #72
The _translateProperty method, try to set the "path" on  routeData.localizeRouter. But this is a readonly property, and this triggers the error from above.

`LocalizeParser.prototype._translateProperty = function (route, property, prefixLang) {
        // set property to data if not there yet
        var routeData = route.data = route.data || {};
        if (!routeData.localizeRouter) {

[2020-08-25 08:28] rudini commented on #72
I could finally fix it by setting the property **initialNavigation: true** on LocalizeRouterModule configuration.

        LocalizeRouterModule.forRoot(routes, {
            parser: {
                provide: LocalizeParser,
                useFactory: manualParserLoaderFactory,
                deps: [TranslateService, Location, LocalizeRouterSettings]
            },
            initialNavigation:

[2020-08-25 15:31] tomastrajan commented on #72
Same but formated...

[code]

[2020-08-26 07:29] tomastrajan commented on #72
@gilsdav we figured out it was a problem related to trying to mutae datastructure which was frozen by ngrx (strict mutability checks) so unrelated to lib. Thx for your feedback!

[2020-08-26 12:23] stevengunneweg commented on #56
I also encounter this issue. In every component/page that uses `LocalizeRouterPipe` or `LocalizeRouterService` I need to import the `LocalizeRouterModule`. My test module is configured in a similar manner as @giacomo has. The error I see has an other origin though.

I'm using the following versions
- @gilsdav/ngx-translate-router: 3.1.0
- @gilsdav/ngx-translate-router-http-loader: 1.1.2

[code]

I

[2020-08-27 11:38] gilsdav commented on #72
Thanks for the investigation.
I will try to reproduce and check what is possible to do.

[2020-08-27 12:17] gilsdav commented on #56
I got it.
It's probably a an annotation that is now required with Ivy and I missed. So DummyLocalizeParser doesn't work anymore.

A possible workaround is to use your current parser factory into your tests. Because of AOT you had export this factory so it's easy to use into your tests.

[code]

[2020-08-27 13:50] tomastrajan commented on #72
@gilsdav you can try reproduce using https://ngrx.io/guide/router-store and https://ngrx.io/guide/store/configuration/runtime-checks#configuring-runtime-checks

[code]

[2020-08-27 15:36] gilsdav commented on #72
@tomastrajan Can you check if I miss something because I can't reproduce any issues with ngrx ?
https://github.com/gilsdav/angular-universal-localize-router/compare/ngrx-sample

[2020-08-28 04:18] arsenik2 commented on #72
Hello,

I have the same problem, thanks @tomastrajan for the investigation.
@gilsdav I think you need a custom router state serializer which serialize the data property.
I made a quick example here: https://stackblitz.com/edit/angular-ivy-xxndf9?file=src/app/store/router.reducer.ts
If I comment out the data property, it works fine.
Also it seems to only happen on the root route ( path: '' ), you c

[2020-08-28 08:58] stevengunneweg commented on #56
Thanks for your help @gilsdav. Your suggestion seems to work for me 👍🏻

Do you have any plans to fix the `DummyLocalizeParser` in the near future? Not meant to pry 😉

[2020-08-28 09:01] gilsdav commented on #56
You're welcome,
Yes it's fixed into the working branch. Will be published with version `3.1.1` soon.

[2020-08-28 09:57] gilsdav commented on #72
NGRX mutate my given configuration.
I personally don't mutate the raw routes because I'm doing a deep copy.
That's quite funny (but I understand why) that NGRX mutate to prevent mutation.

My current solution is to make a deep copy before gives the configuration to the RouterModule (using `resetConfig`) but I have to make a lot of tests to check if there are side effects.

[2020-08-28 11:27] gilsdav commented on #72
You can try it too by using
`npm i https://github.com/gilsdav/ngx-translate-router/releases/download/3.1.1/ngx-translate-router-3.1.1.tar`

[2020-09-01 03:17] arsenik2 commented on #72
Hello @gilsdav, I can confirm that the problem is not happening with this version :).
I will try to use it more to see if any issue arise.
Thank you

[2020-09-01 15:10] IhorPetr opened #78 "Could add Country iso code (Alpha-3 or Alpha-2) in url?"
Could I Add iso country code (Alpha-3 or Alpha-2) to url prefix for initiate country definition `/en-US/home` or `/en_US/home` instead of `/en/home`, when I initiate user language locale?

Example like this:
`this.localize.changeLanguage('en-US');` or `this.localize.changeLanguage('en', 'United States');`
Expected results:
Alpha-3: `/en-USA/home` or  `/en_USA/home`
Alpha-2: `/en-US/home` or  `/en_

[2020-09-01 22:01] gilsdav commented on #78
Hello @IhorPetr
For sure you can.
You have to list them as two languages ("en-US" and "en-USA") and create two files with this languages into names (`en-US.json` & `en-USA.json`).
This is more an `ngx-translate` configuration.

[2020-09-02 00:46] IhorPetr commented on #78
Thanks, you are right.

[2020-09-02 00:46] #78 closed

[2020-09-02 09:38] ramon-b opened #79 "SSR Angular Universal sometimes getting HTTP 404 errors"
When I use Angular Universal and send concurrent requests, I receive multiple 404 errors. Translations are loaded via HTTP and I use initialNavigation via this package only. The function translateText tries to translate the route, but _translationObject is sometimes not defined. As far as I can see, there are no significant differences between my code and what is described in the documentation.

[2020-09-05 14:51] gilsdav commented on #79
Hello @ramon-b ,

As I know, Angular universal never return a 404 error but always a 200 if you managed your routes with a wildcard '**' route.
Did you managed yourself the 404 yourself like in [this article](https://azizwrites.xyz/post/setting-status-code-and-handling-404-pages-in-angular-universal-0232) ? Or directly on the server file (express app) ?

Can you check this example ? https://github

[2020-09-05 15:01] ramonbakker-rambit commented on #79
Hi, thanks for your reaction.

The 404 errors are managed via a wildcard route and a status-code header. I do not get 404 errors if I set a timeout of several seconds for the resolve of the init function. Testing with ApacheBench (10 requests with a concurrency of 10) gives different results on several executions.

I checked the example already, but I did not see significant differences.

[2020-09-07 13:39] ramon-b commented on #79
I have done further investigation and I see that the 404 errors are coming from routes loaded via the loadChildren function. The problem seems related to https://github.com/gilsdav/ngx-translate-router/issues/45, because _loadedConfig gives undefined. I have a routing module with an item that has loadChildren. The path of that item in the routing module gets translated, but the routes in my child

[2020-09-08 09:37] ramon-b commented on #79
The issue can be reproduced via the https://github.com/gilsdav/angular-universal-localize-router example, by requesting /heros/accueil (`ab -c 10 -n 10 http://localhost:4200/heros/accueil`). That gives several 'Cannot match any routes' errors. Without concurrency (`ab -n 10 http://localhost:4200/heros/accueil`), no errors occur.

[2020-09-14 20:37] gilsdav commented on #79
Be careful with your configuration. You have to keep in mind that client side will take the browser lang by default but server side will that the first element of your locales array. So to not have issues, please set the `defaultLangFunction` with the lang of you "non prefix" routes.

[code]

I made a fix on version **3.1.2** prerelease. Can you try it by installing package using `npm i https://gi

[2020-09-14 20:40] gilsdav commented on #72
Hello @arsenik2,
Any regression issues to declare ?

[2020-09-15 10:04] ramon-b commented on #79
I changed the configuration for the example to replicate the configuration in my application. I have extra configuration in place to deal with things like the browser language.

Thanks for providing a fix, which seems to be working fine.

[2020-09-15 17:15] gilsdav commented on #72
Fixed from version `3.1.1`

[2020-09-15 17:15] #72 closed

[2020-09-15 17:16] gilsdav commented on #56
Fixed from version `3.1.1`

[2020-09-15 17:16] #56 closed

[2020-09-15 17:25] gilsdav commented on #79
Fixed in version `3.1.2`

[2020-09-15 17:25] #79 closed

[2020-09-16 09:17] arsenik2 commented on #72
Sorry for late reply, I have been using it without any problems on my side.
Thank you so much for the work 👍

[2020-09-21 12:16] Jonnyprof opened #83 "Preloaded routes are not translated"
Hi,
I've updated version from 3.0.0 to 3.1.2 and some routes are not translated.
After some investigation, I've discovered that preloaded routes with PreloadingStrategy are not translated.
When a lazy module with routes is loaded, the routes are translated in https://github.com/gilsdav/ngx-translate-router/blob/bd0ffcf523b6cd49e0e79380288a5399b421fd12/projects/ngx-translate-router/src/lib/localize

[2020-09-25 14:35] Jonnyprof commented on #83
@gilsdav Do you have any idea? I can help, but I don't know how to fix it...

[2020-09-26 18:45] gilsdav commented on #83
Hello @Jonnyprof,
Thank's for your investigation and your stackblitz reproduction.
I can see this happened since the very latest release (3.1.2).
If you are not using Angular universal you can use the 3.1.1 version (3.1.2 only contains Angular Universal fix).
if you accept i will I will check that and ask you to test a prerelease of the 3.1.3.

[2020-09-26 20:20] gilsdav opened #84 "Modules not preloaded a first navigation (not specially on preloaded module)"

[2020-09-26 20:32] gilsdav commented on #83
Can you try this prerelease ? `npm i https://github.com/gilsdav/ngx-translate-router/releases/download/3.1.3/gilsdav-ngx-translate-router-3.1.3.tgz`

[2020-09-26 20:40] gilsdav commented on #69
First version of PR pipeline: https://github.com/gilsdav/ngx-translate-router/pull/80/files#diff-e115b04ed1692a2ad3f39021f1b3ec20

[2020-09-27 11:29] Jonnyprof commented on #83
Sure, thanks! Tomorrow morning I'll tell you something

[2020-09-28 08:06] Jonnyprof commented on #83
It works now, thanks a lot!

[2020-09-29 07:47] yaniv14 opened #86 "Unable to set defaultLanguage in TranslateModule"
Hi,

When using your package I am unable to set defaultLanguage in TranslateModule.
When settings defaultLanguage I am getting ```Error: Cannot instantiate cyclic dependency! Router```

This is my setup:
[code]

Can you please advise?

[2020-10-02 23:43] gilsdav commented on #86
Hello @yaniv14
Does it work as expected if you use `translateService.setDefaultLang(lang)` into the app component constructor instead of the "defaultLanguage" parameter ? Like [here](https://github.com/gilsdav/angular-universal-localize-router/blob/master/src/app/app.component.ts).
What the version of ngx-translate ans ngx-translate-router do you use ?

[2020-10-03 07:30] yaniv14 commented on #86
Hi @gilsdav
When doing ```translateService.setDefaultLang(lang)``` the translation works fine, I am getting the correct translated string by language that was setup by ```translateService.setDefaultLang```.
But the router language (in url) stays in ```en``` so I am ending up with different languages for router and translation.

[code]

[2020-10-03 10:50] gilsdav commented on #86
@yaniv14
I forgot (in my last answer) so say you that ngx-translate-router automaticaly set default and language. Here the documentation part:

You don't have to set it yourself.

If you don't like this default lang computing (cachedLanguage || languageOfBrowser || firstLanguageFromConfig), you can set your own `defaultLangFunction` into the config.

* `firstLanguageFromConfig` is the first lang i

[2020-10-03 10:55] gilsdav commented on #83
Fixed in version `3.1.3`

[2020-10-03 10:55] #83 closed

[2020-10-03 12:47] yaniv14 commented on #86
@gilsdav
I really appreciate your time and effort to help me.
In my case all users are directed straight to the main domain (no lang prefixed).
On first visit the server is attaching a data attribute that contains a preferred language by user country (detect by IP).
What I am trying to achieve is that only on first visit, before ```LOCALIZE_DEFAULT_LANGUAGE``` is being set, the default language wi

[2020-10-03 13:01] gilsdav commented on #86
Your welcome @yaniv14

I think this is typically something to do into `defaultLangFunction `.

Here an pseudocode of how to use it:

[code]

[2020-10-03 17:49] yaniv14 commented on #86
@gilsdav
Working like a charm.
Thank you very much

[2020-10-03 17:49] #86 closed

[2020-10-21 19:05] vbonne opened #89 "ngx-translate-router implementation with Angular Universal SSR"
I am implementing ngx-translate-router in an Angular Universal app already working fine with SRR.
After adding ngx-translate-router with http loader it works correctly with ```ng serve``` so it means that the integration without SSR is working fine.

But when running in SSR mode : ```npm run serve:ssr``` i get this error :

    NetworkError
    at XMLHttpRequest.send (F:\GitaLab\vyv-angular\dist\s

[2020-10-22 00:09] vbonne commented on #89
i have been 10h on this... I am not good at debugging node...  the error was not in the server.ts but in the interceptor. This interceptor, i orginally designed it for ngx-translate and I thought it could be shared just like that to retrieve the data from ./assets/locales.json as it was working fine in SSR for retrieving the ./assets/i18n/en.json, but no luck. ngx-translate and ngx-translate-route

[2020-10-24 10:13] gilsdav commented on #89
Hello @vbonne,

Relative paths doesn't work on SSR so you have the choice between three things:

1. Using absolute path (with host included)
2. Creating an interceptor or specific loader to load files using NodeJS FS.
3. A mixture of the first two points: Interceptor to translate relative to absolute path.

This providers can be added to `app.server.module.ts` to use it only on SSR part.

[2020-10-24 10:13] #89 closed

[2020-11-10 12:41] Nickelton commented on #72
Hello @gilsdav
The error described in the first post by @rudini still occurs in our project. We tried the version 3.1.1 and 3.1.3.
Are you sure it is fixed?

[2020-11-12 10:03] Meldiron opened #91 "Route not translating correctly both ways"
en.json:
[code]

sk.json:
[code]

My function I run to switch languages:
[code]
(where langId is "sk" or "en" and location reload just reload page to fix all possible problems)

Here are two scenarios:

## First scenario
(I start with "en" language)
1. I visit http://localhost:4201/en/shop
2. I click product and go to http://localhost:4201/en/shop/clean-d-mint
3. I switch language and it goes to h

[2020-11-15 16:21] gilsdav commented on #91
Hello @Meldiron,
The issue probably comes from accents.

I personally never put accents into urls. Just use ASCII chars.
Why ? You can see your URL is totally unreadable for the user: `tu%C4%8Di-m%C3%A4ta`. Is it not better to have an user-friendly URL like `tuci-mata` ?

Can you try to remove all accents into `ROUTES.` part of your translation file ?

[2020-11-15 16:59] gilsdav commented on #72
Hello @Nickelton,
Did you try to clear you node_modules before update ?
The fix which has been applied makes it possible to no longer have a mutation on the routes provided to the router.

[2020-11-16 20:30] samgevorgyan opened #93 "Firebase deploy"
Hi

I am trying to deploy "my angular universal" project to firebase hosting via firebase function (SSR). But I am getting an error.
I want to mention that I had configured my routes as was in specs. And on the local server, it works perfectly.
But during the deploying process, I am getting this error.

`Http failure during parsing for https://accounts.google.com/ServiceLogin?service=ah&passive=tr

[2020-11-17 12:28] Nickelton commented on #72
Hello @gilsdav:
Yes, I deleted the node_modules and tried it that way, the error still happens.

[2020-11-17 14:53] tmkd92 opened #94 "Circular dependency in DI detected for Router"
When trying to use latest library version with Angular v10 I'm receiving errors connected with library.

    at throwCyclicDependencyError (core.js:2204)
    at R3Injector.hydrate (core.js:11676)
    at R3Injector.get (core.js:11501)
    at injectInjectorOnly (core.js:891)
    at Module.ɵɵinject (core.js:895)
    at Object.LocalizeRouterService_Factory [as factory] (gilsdav-ngx-translate-router.js

[2020-11-25 07:14] gilsdav commented on #93
Hello @samgevorgyan ,
Did you log `url` and each part of its construction ? `req.protocol` `req.get('host')` and `request.url`; ?

[2020-11-30 13:16] gilsdav commented on #94
@tmkd92 Do you still have the issue ?

[2020-11-30 13:19] tmkd92 commented on #94
Hello @gilsdav, yes I am. Apart from above I found that on Angular v9 there is no issue with Router dependency. It looks like some changes has been applied to ngcc towards angular router..

[2020-11-30 13:22] gilsdav commented on #94
That's quite strange because you can see in this project, it works as expected in ng 10 and 11: https://github.com/gilsdav/angular-universal-localize-router

Do you have something like an Injector that uses the Router ?

[2020-11-30 13:27] tmkd92 commented on #94
My AppComponent is using Router as DI, could that cause the problem here?

[2020-12-01 14:08] gilsdav commented on #94
Definitly not. Is it possible for you to share de reproduction project ?

[2020-12-05 19:55] sireaev opened #97 "LocalizeRouterModule Jest testing"
Hello

I've got an issue regarding testing the application that uses **LocalizeRouterModule** in contrast with **http loader**, I change the language with ngx-translate, then use LocalizeRouterService to change the url, it works very well, but I've got an issue testing it through all the application (integration testing - Angular TestBed).

Each time I test a component I need to import the Localiz

[2020-12-05 20:19] gilsdav commented on #97
Hello @sireaev,
When you are testing a component, there is not real navigation.

By seeing in the source code, `this.router.routerState.snapshot.root` probably doesn't have a consistant state.

Is it possible to give a reproduction to be able to help you more easily ?

[2020-12-05 20:30] sireaev commented on #97
[code]

[code]

[2020-12-05 20:39] gilsdav commented on #97
Have you tried with the real `RouterModule` instead of the `RouterTestingModule` ?

[2020-12-05 20:52] sireaev commented on #97
Tried to replace **RouterTestingModule** with **RouterModule** and it gave the same error exception in the end, when I add all the dependencies needed for the RouterModule:
[code]

ps. I'd like to solve the problem with RouterTestingModule as it's recommended to use when testing, but anyway let's seek the problem, RouterModule gives the same exception

[2020-12-05 21:04] gilsdav commented on #97
I'm not able to reproduce your issue with:

[code]

PS: if `use` is a function of your component, this part is already managed by the localize-router library, so you don't have to do it yourself.
[code]

[2020-12-05 21:12] sireaev commented on #97
I use the LocalizeRouterService to change the language afterwards because it changes itself the URL for e.g. from 'en' to 'fr' in localhost:4200/#/en/ -> localhost:4200/#/fr/, I thought that's the point of using http loader addon (ngx-translate-router-http-loader), I could avoid using the localizeRouterService to change the language and handle the router.url by myself, but then ngx-translate-route

[2020-12-05 21:17] gilsdav commented on #97
Here is a part of the code behind the `changeLanguage` function.
![image](https://user-images.githubusercontent.com/21348530/101265529-7d572180-3747-11eb-8a06-34b15dd082ae.png)
So yes it translate the URL after getting the translation (over the http loader if you added it to ngx-translare)

[2020-12-05 21:22] sireaev commented on #97
@gilsdav thank you!!!

I just got it working by removing the config itself 💯

[code]

thanks for the assistance @gilsdav , it outputs some warns that are not handled inside an ngzone, but I think it's on i18n.service when the changeLanguage is used, I'll try to stick it in async run zone

[2020-12-05 21:23] #97 closed

[2020-12-05 21:28] gilsdav commented on #97
Nice to see it :)

If you don't give Loader and Parser, they are default `TranslateFakeLoader` and `DummyLocalizeParser` that helps you to not give too much configurations into your tests.

It was something claimed here: https://github.com/gilsdav/ngx-translate-router/issues/56

[2020-12-05 23:38] sireaev commented on #97
yep, added
`this.ngZone.run(() => this.localizeService.changeLanguage());`

thanks for the tip, will try

[2020-12-28 11:22] DimaKomoff opened #99 "How to use this.router.resetConfig()?"
How to init array of routes dynamically?

[2020-12-28 13:07] gilsdav commented on #99
Hello @DimaKomoff, I don't know the complete business you need but you can probably extends the `LocalizeParser` to add your business. (And for example add a method to call when you want to add route (that will call `this.router.resetConfig(this.routes);`)

[2020-12-28 14:22] DimaKomoff commented on #99
@gilsdav hi.
When the application loads, depending on certain conditions, I set up the routing settings using this.routing.resetConfig (routes).
But translate-router sets the setting from the default routes.
Can you help me?

[2020-12-28 14:37] DimaKomoff commented on #99
@gilsdav I should use somethink like this
[code]

or change routing config with this.router.resetConfig

[2020-12-28 14:47] gilsdav commented on #99
If you only need to do int once (at app start), you can use condition like you did in your latests comment or if routes comes from a service you can take a look at the httpParser implementation:
https://github.com/gilsdav/ngx-translate-router/blob/master/projects/ngx-translate-router-http-loader/src/lib/http-loader.ts
[code]

[2020-12-29 22:36] ozergul opened #100 "Can it be used with ssr + subdomain?"
Hello. Thanks for the great package! I wonder that this package can be used at SSR and subdomain strategy?

[2020-12-29 23:08] gilsdav commented on #100
Hello,
When you mean "subdomain strategy", do you mean `fr.mydomain.com` ?

You can play with:

- `alwaysSetPrefix`: to hide default language from route
- angular `Location` provider: to make your extension of `LocalizeParser` to order the language liste (compute lang from subdomain and put it first in lang array)
- `defaultLangFunction`: to always take first lang of array (computed on previous st

[2021-01-03 08:59] ozergul commented on #100
Looks fantastic. Lets give it a try!

[2021-01-09 15:30] ozergul commented on #100
I tried your saids and worked like a charm. But what if I wamt to not show default language. For example:
mydomain.com -> EN
fr.mydomin.com -> FR
pt.mydomain.com -> PT

[2021-01-16 16:45] #99 closed

[2021-01-16 16:52] gilsdav commented on #100
It's simple as "no language found is EN".
I don't know what you did into the part "// do stuff with hostname and languages" but if you used a regexp like `/^(\w+).mydomain.com$/`, you just have to set a default lang when none are found.

[code]

[2021-01-16 16:54] #93 closed

[2021-01-16 16:54] #91 closed

[2021-01-27 02:21] wattachai opened #101 "replaceUrl within navigationExtra of changeLanguage method is not working as expected"
calling `localizeRouter.changeLanguage(lang, { replaceUrl: true });` results in previous state being pushed in history regardless of `useNavigateMethod` value, `true`, `false` or not provided. Hitting back button now reverts the language switching rather than going back to previous page.

Is there a way I could switch the language without any side effects on the back button?

here's my environment

[2021-01-28 22:03] gilsdav commented on #101
Hello @wattachai,
Thank's for this issue.
I will check this ASAP

[2021-02-04 22:56] bsumter opened #102 "Missing a way to differentiate between the default language and the selected language."
I'm having the following requirements:

- Default language: NL
- Available languages: EN, NL
- Don't show NL in the url (alwaysSetPrefix = false)

All so good so far. The part I'm struggling with is:

- The initial selected language should be set based on cache / browser lang. Sort of like defaultLangFunction, but then for the selected language.

Any ideas on how to implement?

[2021-02-12 19:12] #100 closed

[2021-02-12 19:14] #47 closed

[2021-02-12 20:01] gilsdav commented on #101
We understand your feature request in two ways:

1. When back button is clicked you will be redirected to the previous page in the previous lang
2. When back button is clicked you will be redirected to the previous page in the current lang

The second feature is not possible because we can not replace all your history stack.

[2021-02-12 20:35] gilsdav commented on #102
We have a proposition of implementation:

1. Force your `defaultLangFunction` to NL
2. Implement your logic into the `AppComponent` using `.changeLanguage` function

[2021-02-13 07:07] wattachai commented on #101
@gilsdav Thanks for getting back.

My issue only applies to this one.

Let me describe the issue in more detail. Let's say we do some navigations as the following

`/en/home -> /en/about -> /fr/about`
by calling `localizeRouter.changeLanguage('fr', { replaceUrl: true });` to navigate from `/en/about` to `/fr/about`, I'm expecting the history stack to be
[code]
If we hit back button, we would be na

[2021-02-16 21:06] gilsdav commented on #101
Fixed in this perversion: `npm i https://github.com/gilsdav/ngx-translate-router/releases/download/3.1.7/gilsdav-ngx-translate-router-3.1.6.tgz`
But I have to make some tests because this code makes yoyo. Probably because of SSR impacts.

[2021-02-17 00:03] wattachai commented on #101
This is exciting! Please take your time to test this out. I'm relying on your awesome work for SSR as well. 👍🏼

[2021-02-17 11:13] timrasche commented on #94
Same here. Use APP_INITIALIZER in providers section. APP_INITIALIZER use a service as dependency that is provided in root. Secondary i use a http interceptor... if remove both, no error shown. Cant figure it out.

[2021-02-19 22:17] WheelyWonka commented on #94
Hi @gilsdav, thank you for your work. I'm building a custom boilerplate that must be able to work with and without SSR. Everything works great in SSR mode (at least with `npm run dev:ssr`) but when i try to start the project with `npm start` i get the same error as @tmkd92.

[code]

[code]

[code]

[code]

Something i'm missing ?
Thank you for your help !

[2021-03-02 12:53] BojanKogoj commented on #78
I would like to add another solution to this. Basically extend [TranslateService](https://github.com/ngx-translate/core/blob/master/projects/ngx-translate/core/src/lib/translate.service.ts), replace `setDefaultLang` and `use` and convert to what you want.

[code]

And use it in module

[code]

[2021-03-05 17:57] WheelyWonka commented on #94
✅

I fixed my case by removing the parameter `defaultLanguage` in `TranslateModule.forRoot()` declared in  `shared.module` and `app.server.module`. I supposed that since LocalizerRouter has its own logic to find the default language to set, it was creating a conflict or something ? Would be curious to understand the exact issue if you find it.

Now everything works in SSR and in SLA modes !

[2021-03-16 12:56] AntonVandeghinste opened #104 "Translated route child wildcard routes"
Hello

This is more of a question than it is an issue.
Regarding wildcard routes, I have seen issue [#36](https://github.com/gilsdav/ngx-translate-router/issues/36).
I also see the mention about it in the README.

However, in some cases we would want a child route to be a wildcard (within a certain component for example).
Stated the fact it is impossible to know from a wildcard route, if the langu

[2021-05-07 11:55] BojanKogoj opened #106 "ViewDestroyedError: Attempt to use a destroyed view: detectChanges"
I managed to this exception in [`LocalizeRouterPipe`](https://github.com/Greentube/localize-router/blob/master/src/localize-router.pipe.ts), but I can't reproduce.

![exception](https://user-images.githubusercontent.com/634075/117444624-00b8b100-af3a-11eb-8286-875908ee2191.png)

With current implementation

https://github.com/gilsdav/ngx-translate-router/blob/86d2e52f62d61d59d3b5d4c954f4a10f84ffda

[2021-05-14 14:32] eikebollmann opened #107 "Seeking for help: Angular SSR first load not working. Cannot match any routes. URL Segment: 'url'"
Hi there, I'm setting up an Angular SSR app. Without SSR everything seems to work. But when I open the page with a routing the first load is always telling me **Cannot match any routes. URL Segment: 'leerlingen'**.

I've tried to use your README to setup, but don't know where to add your part about the nodejs file as I only have a `server.ts`.
This is from your Readme. As I speak with the mighty e

[2021-05-16 10:47] #107 closed

[2021-05-16 10:48] eikebollmann commented on #107
I found your project [angular-universal-localize-router](https://github.com/gilsdav/angular-universal-localize-router) to set it up correctly. I have another issue, but this one is closed :)

[2021-06-28 22:30] richie50 commented on #94
![image](https://user-images.githubusercontent.com/7333599/123711576-b3243a80-d83e-11eb-9259-c1cab49ef75a.png)

I'm experiencing the same issue. I have followed the import guide. I'm on angular 11

[2021-06-29 11:15] mmsergi opened #108 "Get Translated Route of a different language than the current one"
Hi! I want to set up some SEO tags for different langs like:

<link rel="alternate" hreflang="en" href="https://www.example.co/en/blog">
<link rel="alternate" hreflang="es" href="https://www.example.co/es/blog">

The unique method that seems to exist is "translateRoute" but only returns the current lang url.

My problem is I can't access at the same time to both href (url), is there a way to get i

[2021-06-29 16:51] richie50 opened #109 "Documentation on how to install and run this repo. Currently getting an error trying after cloning this repo and running ```ng serve```"
![image](https://user-images.githubusercontent.com/7333599/123837288-ac4a0600-d8d8-11eb-93b4-b49538e635a9.png)

[2021-06-29 17:04] richie50 commented on #109
Fix it by running the ```npm run build:main```

[2021-06-29 17:04] #109 closed

[2021-07-09 14:14] devhus opened #111 "SSR maximum call stack size exceeded"
using Angular universal for SSR is causing maximum call stack size exceeded error.
download the sample project, after installing packages run ``npm run dev:ssr`` command then reload the home page twice on the live server URL(default: http://localhost:4200).

[code]

[bnaturalia-frontend-2.zip](https://github.com/gilsdav/ngx-translate-router/files/6791950/bnaturalia-frontend-2.zip)

[2021-07-09 23:26] devhus commented on #111
After a bit of research, the issue is caused by a recursive function this lib has, which repeatedly calls itself until the call stack size runs out.

https://github.com/gilsdav/ngx-translate-router/blob/86d2e52f62d61d59d3b5d4c954f4a10f84ffda59/projects/ngx-translate-router/src/lib/util.ts#L71

[2021-07-16 13:13] #111 closed

[2021-08-25 21:55] danielehrhardt opened #112 "ERROR TypeError: class constructors must be invoked with 'new'"
Can you please update your Target.
ERROR TypeError: class constructors must be invoked with 'new'
"target": "es2017"
"target": "es5"

[2021-09-10 07:43] AndriyKagui commented on #94
@WheelyWonka, thanks, helped in my case

[2021-09-17 16:40] danielehrhardt opened #113 "Custom url language codes"
Hi,

we have a SEO expert in our company, and he wants us to change the URL layout to country, for example en-en.
So i want to ask if it would be possible to change the current Layout
en to something like en-en?

Maybe i can overwrite something.

Best,
Daniel

[2021-09-21 07:31] sathwik77 commented on #84
This is the reason why browser-triggered navigations with locale links do throw 404?  (ex: https://localhost:8080/fr) directly triggered from browser navigation throws 404

[2021-09-28 15:18] pr-nextre commented on #94
@WheelyWonka You goddamnit hero! I've been losing my mind on this one

[2021-09-29 07:04] ullalaaron commented on #94
@WheelyWonka you're the man!

[2021-09-30 07:46] #112 closed

[2021-09-30 07:46] danielehrhardt commented on #113
Does work:
[code]

[2021-09-30 07:46] #113 closed

[2021-10-19 17:56] Mahmoud-64 commented on #94
thanks, it works

[2021-11-05 11:46] ruizmarc opened #114 "Error when updating to angular 13"
Hi,

After upgrading to angular 13, I found out a few imports are no longer working because angular doesn't export them

[code]

[2021-11-05 14:07] ruizmarc commented on #114
Just opened a merge request trying to fix the problem. I don't really know the lib in deep, so any change or suggestion will be very welcome

[2021-11-05 14:33] pixelatorz opened #116 "services won't get called again when changing language"
If I am correct this repo is a fork from the Greentube/localize-router.

We changed the greentube one to this one, everything seems to be working fine, however there seems to be one issue.

When changing the language with the Greentube code the page seems to do a hard refresh and services get called again with the correct language.

When using ngx-translate-router this does not happen, causing the

[2021-11-17 22:43] yusufhajjar commented on #114
I have the same issue, did anyone find a solution to this problem?

[2021-11-29 15:05] gilsdav commented on #116
Hello @pixelatorz,

That's correct and this is a wanted feature (do not recreate complete component when it's exactly the same one).

The good way is to use `.stream()` and not `.get()` from ngx-translate into your RXJS logics.

Otherwise it's possible to go back to default "**reuse component strategy**" using this code:

[code]

[2021-11-29 15:10] gilsdav commented on #108
This feature looks interesting.
Have you found a workaround?

[2021-11-29 15:15] gilsdav commented on #104
Hello @AntonVandeghinste ,
Sorry for the delay.
Do you still need help ?

[2021-11-29 15:15] #102 closed

[2021-11-29 15:31] AntonVandeghinste commented on #104
We worked around it by doing a little bit of manual navigation I think.
The suggestion (based on issue #36  where one is unable to change the language, because there's no indication if the language is present in the url) was just that whenever you have a wildcard route as child of a translated route you would know for a fact that the language is there.

I was facing this specific case, where in a

[2021-11-30 19:48] gilsdav commented on #101
Fixed from version `3.1.8`

[2021-11-30 19:48] #101 closed

[2021-12-02 14:36] JamesIves commented on #114
There is a PR open for Angular 13 support [here](https://github.com/gilsdav/ngx-translate-router/pull/118).

[2021-12-06 09:55] gilsdav commented on #114
New version published :
* @gilsdav/ngx-translate-router@4.0.0
* @gilsdav/ngx-translate-router-http-loader@2.0.0

[2021-12-06 09:55] #114 closed

[2021-12-10 12:45] romankh commented on #108
I am also looking for a way to achieve this.
What is needed from my perspective is a method that returns the current url in a language provided by param,
like `this.localizeRouterService.translateCurrentUrl('en) `

As far as I have seen, method changeLanguage does something similar, but also changes the language and navigates.

Would it be possible to implement

- a method that provides the curren

[2021-12-11 12:05] KaiSoellch opened #119 "[Angular 13] Error: export 'flatten' (imported as 'flatten') was not found in '@angular/compiler'"
just updated my application to your latest version and i get this error.

Angular 13.1.0
@angular/compiler: 13.1.0
@angular/core: 13.1.0
@gilsdav/ngx-translate-router: 4.0.0
@gilsdav/ngx-translate-router-http-loader: 2.0.0
@ngx-translate/core": 14.0.0
@ngx-translate/http-loader": 7.0.0

`
./node_modules/@gilsdav/ngx-translate-router/fesm2015/gilsdav-ngx-translate-router.mjs:1325:98-105 - Error: ex

[2021-12-13 10:53] gilsdav commented on #119
Probably a breaking-change on angular 13.1 since angular 13.0

[2021-12-13 12:42] gilsdav commented on #119
Fixed in version `@gilsdav/ngx-translate-router@4.0.1`

[2021-12-13 12:42] #119 closed

[2022-01-13 13:08] stevengunneweg opened #121 "Changing the language does not add prefix to the url"
I have a project set up with the latest Angular and latest ngx-translate and ngx-translate router. The `alwaysSetPrefix` property is set to false to not have a language prefix on the default language.
When I navigate within this project everything works as expected, the prefix is added/removed when necessary.
However when I change the language I see the translated url without prefix. When I refres

[2022-03-11 14:22] stevengunneweg commented on #121
Is there anyone with a similar issue or insight on what might be the cause?

[2022-03-25 10:24] andrea-spotsoftware commented on #71
is it still working?  I have some problem with the version 2.x of scully

[2022-04-25 09:46] JakubNiedzialkowski opened #122 "Wrong root route redirectTo value after changing language in the URL"
### Description
After changing language code in the URL the root route's `redirectTo` value is set incorrectly to the previously used value. This results in problems with triggering `router.navigate(['/'])`

The actual value of the route object:
[code]
Desired value of the route object after changing language in the URL:
[code]
### Reproducing the issue

I used the demo app included on the master

[2022-05-08 15:40] nermint opened #123 "Cannot instantiate cyclic dependency! Router"
I use Angular v10 and faced this problem when use this package. Please help me for this issue.

[2022-05-12 12:50] gilsdav commented on #123
Hello, did you test this ? https://github.com/gilsdav/ngx-translate-router/issues/94#issuecomment-791584329

[2022-05-19 07:06] nermint commented on #123
Hello, good day. Yes, it doesn't work.

[2022-05-19 07:09] nermint commented on #123
[code]

But when i remove this code from app.module, it works. How can i use both of them? @gilsdav

[2022-06-17 16:37] jsanz1209 opened #124 "skipRouteLocalization doesn't work."
Hi everyone! I'm trying to skip a route location with the parameter skipRouteLocalization inside data object in a specific route, but I'm not getting any result.

This is my routes object definition:

export const routes: Routes = [
  { path: '', redirectTo: 'home', pathMatch: 'full' },
  { path: 'home', loadChildren: () => import('./home/home.module').then(m => m.HomeModule) },
  {
    path: 'fea

[2022-06-27 05:27] devtech987 opened #125 "After upgrade Angular 10 to 14 getting error Cannot read properties of undefined (reading 'afterPreactivation')"
I have installed the latest version of the package `^4.0.1` but still getting the error.
![image](https://user-images.githubusercontent.com/88701831/175865971-d47aaf12-d7df-4b9e-a056-e6d1f5104957.png)
![image](https://user-images.githubusercontent.com/88701831/175866015-b0654b03-cb0c-4060-8e7c-f2d2f29a34cc.png)

can any one please help with this

[2022-07-04 07:52] gilsdav commented on #125
Thank you, I have to release a new major version because Angular has made a breaking change: https://github.com/angular/angular/blob/853b1c1bc998a9e113731b859294eddf5b108ef5/packages/router/src/router.ts#L476

[2022-07-05 09:02] stevengunneweg commented on #121
After updating to Angular 14 (test project is updated) the behaviour is even worse. When I change the language the application navigates from `http://localhost:4200/testin-en` to `http://localhost:4200/test-nl/test-nl`.

The language prefix is completely lost and filled with the translated path which causes the path to show twice. When refreshing the route can obviously not be matched and thus the

[2022-07-12 05:48] devtech987 opened #126 "After upgrading to Angular 14 when changing the language the route is duplication"
When I am changing the language then its duplication the route.
![image](https://user-images.githubusercontent.com/88701831/178417881-ad31c25e-bc3d-4ad5-9b2b-a3ccbf47cf5d.png)
![image](https://user-images.githubusercontent.com/88701831/178417908-0c78554f-a240-4195-83cd-408d53dc55cd.png)

[2022-07-13 15:22] ruizmarc commented on #125
I hope this pull request https://github.com/gilsdav/ngx-translate-router/pull/127 can help :)

[2022-07-25 21:40] gilsdav commented on #125
The version `5.0.0` is published. Thank's @ruizmarc

[2022-07-25 21:40] #125 closed

[2022-07-25 21:40] gilsdav commented on #126
Hello @devtech987 can test the new version `5.0.0` ? I didn't see any similar issues.

[2022-07-28 20:46] kdbarzallo opened #129 "Setting the page title"
Hi, I am using this library for the translation of routes in my project, but now I find that I can't set the title of each page with the title property available in angular 14.
here's link : https://angular.io/guide/router#setting-the-page-title

[2022-07-29 16:44] midlis commented on #129
FYI just as a quick workaround check https://github.com/midlis/ngx-translate-router/commit/4b7337b7c3006c9ff352b3e2087238e6d1f38f68. It is not a proper fix but I merely inject a TitleStrategy singleton into LocalizedRouter to address my immediate needs.

You can use dist from https://github.com/midlis/ngx-translate-router-dist (build with Node.js v16.10.0). But be warn, I'm not going to maintain i

[2022-08-01 06:27] kdbarzallo commented on #129
Hi @midlis !
I will try the solution you have given me and get back to you with comments.
Thank you.

[2022-08-02 09:47] #126 closed

[2022-08-12 09:31] maximegasque opened #130 "Circular dependency in DI detected for MatDialog / MatBottomSheet"
Hello guys, since I updated to NG 14 + ngx-translate-router 5.0.0, it seems like we have a circular dep issue between angular material and the lib.  ( I have the same with MatBottomSheet)

<img width="929" alt="image" src="https://user-images.githubusercontent.com/39550990/184326399-c5388663-f7bc-4aba-850b-18e52f88fe97.png">

Am I the only one to face this issue ?
Thx

[2022-08-19 00:09] JamesIves commented on #130
I'm also seeing this issue.

[2022-08-23 11:34] daco commented on #130
I'm seeing the same error, but downgrading to 4.0.1 gives me the #125 Cannot read properties of undefined (reading 'afterPreactivation') error again, the reason I upgraded to 5.0.0 in the first place.

[2022-08-26 07:31] JamieVangeysel opened #131 "changeLanguage appends path a second time"
Im trying to implement a way for the user to change the language.

example current url: https://test.groupclaes.be/fr/brabopak
where brabopak is the route in my app-routing config

I included `private localizeRouter: LocalizeRouterService` in my constructor and call
`this.localizeRouter.changeLanguage(language)`. where language is 'en'.
Redirects me to `https://test.groupclaes.be/en/brabopak/brabo

[2022-08-26 07:40] JamieVangeysel commented on #131
Dup of #126 Sorry

[2022-08-26 07:40] #131 closed

[2022-08-29 14:55] himxx commented on #130
Same problem here. Is there any solution for this ??

[2022-08-29 14:59] daco commented on #130
@himxx Unfortunately I have not found a solution. Would be great if someone a bit smarter than I am did!

[2022-08-29 17:38] himxx commented on #130
@daco It's sad

[2022-08-30 09:33] thomasmarcelin commented on #130
After further investigation, it seems that the error occurs on Angular v14.1.0, latest working version is v14.0.7

Relevant changelog : https://github.com/angular/angular/blob/main/CHANGELOG.md#1410-2022-07-20

There are a few things affecting `@angular/router`, but no breaking changes, only deprecations

[2022-08-30 09:37] himxx commented on #130
How  correctly downgrade to specific version? My angular is 14.2.0

[2022-08-30 09:44] thomasmarcelin commented on #130
I changed my package.json accordingly, you can see my example (only the relevant parts) for v14.0.5. Then you can `yarn` or `npm i`

Maybe it's possible with `ng update` but I haven't tried it

[2022-09-07 10:30] mstieranka opened #132 "redirectTo does not preserve query parameters and fragments"
Hi, we are having an issue with this library on the project I'm working on, and both seem to be connected to `redirectTo`. We use it along with `localizeRedirectTo` to redirect the user from, say, `/login` to `/{lang}/login`. However, in these scenarios, the query parameters and fragments are removed. According to https://github.com/angular/angular/issues/13315#issuecomment-427254639, the way to f

[2022-09-15 06:35] gilsdav commented on #129
Fixed in version 5.1.0

[2022-09-15 06:35] #129 closed

[2022-09-15 06:35] gilsdav commented on #132
Fixed in version 5.1.0

[2022-09-15 06:35] #132 closed

[2022-09-27 12:55] JSProto commented on #130
`LocalizedRouter ` need fix:

need add flag in `injector['get']`
[code]

[2022-10-18 13:55] giacomo commented on #130
@gilsdav seems that the changes showed by @JSProto should work.

[2022-10-18 19:40] gilsdav commented on #130
Can you confirm it's fixed in version 5.1.1 ?

[2022-10-18 20:48] giacomo commented on #130
@gilsdav I will test tomorrow, using the patch today was working fine ...

[2022-10-19 14:38] giacomo commented on #130
@gilsdav now testet the all day! it works fine

[2022-10-19 14:41] daco commented on #130
I can also confirm that it works. Great!

[2022-10-23 13:12] gilsdav commented on #130
Thanks for your feedbacks :)

[2022-10-23 13:12] #130 closed